Repository BehindTheMusicTree/audiometa: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-system-dependencies, no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments, py-psscriptanalyzer, py-psscriptanalyzer-format

Path conditions:
  validate-system-dependencies: any of: ^system-dependencies\.toml$
  no-assert: any of: ^audiometa/.*\.py$, but not: ^(audiometa/test/|scripts/)
  ruff-format: any of: ^(audiometa/|\.pre-commit-hooks/|scripts/).*\.py$
  ruff: any of: ^(audiometa/|\.pre-commit-hooks/|scripts/).*\.py$
  isort: any of: ^(audiometa/|\.pre-commit-hooks/|scripts/).*\.py$
  mypy: any of: ^audiometa/.*\.py$, but not: ^(audiometa/test/|scripts/)
  docformatter: any of: ^audiometa/.*\.py$
  fix-long-comments: any of: ^audiometa/.*\.py$, but not: ^scripts/
  py-psscriptanalyzer: any of: \.ps1$
  py-psscriptanalyzer-format: any of: \.ps1$

docs: update changelog and contributing guide for recent fixes
  CHANGELOG.md
  CONTRIBUTING.md
Due: none

style(docs): apply prettier formatting to CONTRIBUTING.md
  .pre-commit-hooks/mypy-wrapper.sh
Due: none

fix(test): accept kwargs in mock_subprocess_run for tool_path_resolver
  audiometa/test/tests/unit/audio_file/technical_info/test_error_handling.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

fix(ubuntu): improve Debian package version matching and update pinned versions
  audiometa/utils/os_dependencies_checker/ubuntu.py
  system-dependencies.toml
Due: validate-system-dependencies, no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(windows): add fallback version detection from executables
  audiometa/utils/os_dependencies_checker/windows.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(ubuntu): make mediainfo version check flexible to match 24.01.x versions
  audiometa/utils/os_dependencies_checker/ubuntu.py
  system-dependencies.toml
Due: validate-system-dependencies, no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(ubuntu): support partial version pinning in installation script
  scripts/install-system-dependencies-ubuntu.sh
Due: none

fix(windows): improve version matching to handle different precision levels
  audiometa/utils/os_dependencies_checker/windows.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

docs: update changelog with recent version matching improvements
  CHANGELOG.md
Due: none

docs: clarify numpy version upgrade in changelog
  CHANGELOG.md
Due: none

chore: prepare release 0.2.1
  pyproject.toml
Due: none

feat(ci): add automated PyPI publishing workflow (maintainer-only)
  .github/workflows/publish.yml
  CHANGELOG.md
  CONTRIBUTING.md
Due: none

fix(pre-commit): prevent double trailing newlines in fix-long-comments
  .pre-commit-hooks/fix-long-comments.py
Due: ruff-format, ruff, isort

docs: clarify branch naming conventions in git workflow rules
  .cursor/rules/git-workflow.mdc
Due: none

chore(pre-commit): add hook to fix trailing blank lines in shell scripts
  .pre-commit-config.yaml
  .pre-commit-hooks/fix-trailing-blank-lines.sh
  .pre-commit-hooks/tool-wrapper.sh
  CONTRIBUTING.md
Due: none

chore(ci): align CI with pre-commit hooks and add shell script trailing blank line check
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/check-shell-trailing-blank-lines.sh
  .pre-commit-hooks/psscriptanalyzer-format-wrapper.sh
  .pre-commit-hooks/psscriptanalyzer-wrapper.sh
  CHANGELOG.md
  CONTRIBUTING.md
  scripts/install-bwfmetaedit-ubuntu.sh
  scripts/install-id3v2-linux.sh
  scripts/install-system-dependencies-ubuntu.sh
  scripts/macos-common.sh
Due: none

chore(ci): remove unnecessary pip cache purge for pytaglib
  .github/workflows/ci.yml
Due: none

chore(pre-commit): remove duplicate trailing blank lines script
  .pre-commit-hooks/fix-trailing-blank-lines.sh
Due: none

chore(publish): add TestPyPI testing and post-publish verification
  .github/workflows/publish.yml
  CHANGELOG.md
Due: none

chore: prepare release 0.2.2
  CHANGELOG.md
  pyproject.toml
Due: none

docs: add PyPI badges to README
  CHANGELOG.md
  README.md
  TODO.md
Due: none

chore(publish): add CI verification and main branch alignment checks
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  CHANGELOG.md
Due: none

chore(pre-commit): fix PowerShell ScriptAnalyzer hooks and add installation
  .pre-commit-hooks/psscriptanalyzer-format-wrapper.sh
  .pre-commit-hooks/psscriptanalyzer-wrapper.sh
  CHANGELOG.md
  CONTRIBUTING.md
  scripts/install-system-dependencies-macos.sh
  scripts/install-system-dependencies-ubuntu.sh
Due: none

docs(CONTRIBUTING): improve clarity and formatting of tool requirements and pre-commit hooks
  CONTRIBUTING.md
Due: none

fix(windows): replace Write-Host, Invoke-Expression, and echo in PowerShell script
  scripts/install-system-dependencies-windows.ps1
Due: py-psscriptanalyzer, py-psscriptanalyzer-format

fix(windows): improve version parsing logic in PowerShell script
  scripts/install-system-dependencies-windows.ps1
Due: py-psscriptanalyzer, py-psscriptanalyzer-format

docs: update CHANGELOG with PowerShell script parsing fix
  CHANGELOG.md
Due: none

refactor(ci): improve lint job and dependency management
  .github/workflows/ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  audiometa/test/README.md
  audiometa/utils/os_dependencies_checker/config.py
  scripts/install-bwfmetaedit-ubuntu.sh
  scripts/install-system-dependencies-macos.sh
  scripts/install-system-dependencies-ubuntu.sh
  scripts/install-system-dependencies-windows.ps1
  scripts/load-system-dependency-versions.py
  scripts/verify-system-dependency-versions.py
  system-dependencies-lint.toml
  system-dependencies-prod.toml
  system-dependencies-test-only.toml
  system-dependencies-verification.toml
  system-dependencies.toml
Due: validate-system-dependencies, no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments, py-psscriptanalyzer, py-psscriptanalyzer-format

fix(windows): make id3v2 optional and improve error reporting
  scripts/install-system-dependencies-windows.ps1
Due: py-psscriptanalyzer, py-psscriptanalyzer-format

fix(ubuntu): add missing fi to close if statement
  scripts/install-system-dependencies-ubuntu.sh
Due: none

feat(pre-commit): add shellcheck and convert trailing blank lines to auto-fix
  .pre-commit-config.yaml
  .pre-commit-hooks/check-shell-trailing-blank-lines.sh
  .pre-commit-hooks/fix-shell-trailing-blank-lines.sh
  CHANGELOG.md
  CONTRIBUTING.md
  scripts/install-system-dependencies-ubuntu.sh
Due: none

fix(deps): update exiftool pinned version from 13.41 to 13.42
  CHANGELOG.md
  system-dependencies-test-only.toml
Due: none

docs: update release process to use bump2version
  .bumpversion.cfg
  CHANGELOG.md
  CONTRIBUTING.md
Due: none

chore: prepare release 0.2.3
  .bumpversion.cfg
  README.md
  pyproject.toml
Due: none

fix(publish): add polling to wait for CI completion instead of failing immediately
  .github/workflows/publish.yml
  CHANGELOG.md
  CONTRIBUTING.md
Due: none

docs: prepare release 0.2.4
  CHANGELOG.md
Due: none

chore: prepare release 0.2.4
  .bumpversion.cfg
  README.md
  pyproject.toml
Due: none

fix(docs): replace shields.io badges with pepy.tech to avoid rate limiting
  README.md
Due: none

fix(docs): add cache to PyPI download badges to reduce rate limiting
  CHANGELOG.md
  README.md
Due: none

chore: update changelog structure and add cursor rule for changelog best practices
  .cursor/rules/changelog.mdc
  CHANGELOG.md
Due: none
