Repository BehindTheMusicTree/audiometa: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-system-dependencies, no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments, py-psscriptanalyzer, py-psscriptanalyzer-format

validate-system-dependencies:
  name: Validate system-dependencies.toml versions
  entry: python3 .pre-commit-hooks/validate-system-dependencies.py
  language: system
  pass_filenames: false
  always_run: false

no-assert:
  name: Check for assert statements in production code
  entry: bash -c '.pre-commit-hooks/no-assert.sh "$@"' --
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --line-length=120
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --line-length=120
  language: system

isort:
  name: isort
  entry: isort --profile black --line-length=120
  language: system

mypy:
  name: mypy
  entry: mypy --follow-imports=normal
  language: system
  pass_filenames: true

docformatter:
  name: docformatter
  entry: docformatter --in-place --wrap-summaries=120 --wrap-descriptions=120
  language: system
  pass_filenames: true

fix-long-comments:
  name: Fix long comment lines
  entry: bash -c '.pre-commit-hooks/fix-long-comments.py "$@"' --
  language: system

py-psscriptanalyzer:
  name: PowerShell ScriptAnalyzer
  entry: bash -c '.pre-commit-hooks/psscriptanalyzer-wrapper.sh "$@"' --
  language: system
  pass_filenames: true

py-psscriptanalyzer-format:
  name: PowerShell ScriptAnalyzer Format
  entry: bash -c '.pre-commit-hooks/psscriptanalyzer-format-wrapper.sh "$@"' --
  language: system
  pass_filenames: true

fix(ci): skip coverage threshold check on Windows
  .github/workflows/ci.yml
Due: none

docs: align mutagen version requirement in README with pyproject.toml
  README.md
Due: none

chore(deps): add bump2version for release management
  pyproject.toml
Due: none

docs(release): improve release process documentation
  CONTRIBUTING.md
Due: none

docs(todo): reorganize by task type and add table of contents
  TODO.md
Due: none

docs(changelog): update for 0.2.0 release
  CHANGELOG.md
Due: none

docs(todo): update TODO.md with new tasks and reorganize priorities
  TODO.md
Due: none

docs: reorganize changelog sections
  CHANGELOG.md
Due: none

chore: bump version to 0.2.0
  README.md
  pyproject.toml
Due: none

docs: format CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

fix(test): corrupt audio data instead of truncating for FLAC MD5 test
  audiometa/test/tests/integration/technical_info/test_flac_md5.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

fix(test): corrupt MD5 checksum in STREAMINFO block for FLAC test
  audiometa/test/tests/integration/technical_info/test_flac_md5.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

fix(macos): ensure Homebrew bin directories are in PATH
  scripts/install-system-dependencies-macos.sh
Due: none

test(flac): add comprehensive corrupted MD5 test cases
  audiometa/test/tests/integration/technical_info/test_flac_md5.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

fix(core): consistently treat unset FLAC MD5 as invalid
  .cursor/rules/pre-commit.mdc
  .cursor/rules/virtual-environment.mdc
  CONTRIBUTING.md
  README.md
  audiometa/_audio_file.py
  audiometa/test/tests/integration/technical_info/flac_md5/__init__.py
  audiometa/test/tests/integration/technical_info/flac_md5/test_invalid_md5/__init__.py
  audiometa/test/tests/integration/technical_info/flac_md5/test_invalid_md5/test_unset_md5.py
  audiometa/test/tests/integration/technical_info/test_flac_md5.py
  docs/AUDIO_TECHNICAL_INFO_GUIDE.md
  docs/METADATA_FIELD_GUIDE.md
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

test(flac): add comprehensive MD5 validation tests
  audiometa/test/tests/integration/technical_info/flac_md5/conftest.py
  audiometa/test/tests/integration/technical_info/flac_md5/test_invalid_md5/test_audio_data_corruption.py
  audiometa/test/tests/integration/technical_info/flac_md5/test_invalid_md5/test_flipped_md5.py
  audiometa/test/tests/integration/technical_info/flac_md5/test_invalid_md5/test_non_flac_error.py
  audiometa/test/tests/integration/technical_info/flac_md5/test_invalid_md5/test_partial_md5.py
  audiometa/test/tests/integration/technical_info/flac_md5/test_invalid_md5/test_random_md5.py
  audiometa/test/tests/integration/technical_info/flac_md5/test_valid_md5.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

refactor(test): improve conftest configuration checks
  CHANGELOG.md
  audiometa/test/tests/conftest.py
  audiometa/test/tests/installation_checks.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

test: enhance docstring to clarify corruption simulation details
  audiometa/test/tests/integration/technical_info/flac_md5/conftest.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

fix(core): improve FLAC MD5 validation reliability
  audiometa/_audio_file.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

test(flac): simplify assertion for audio data corruption in MD5 validation
  audiometa/test/tests/integration/technical_info/flac_md5/test_invalid_md5/test_audio_data_corruption.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

docs: clarify MD5 repair works for missing/unset MD5 checksums
  audiometa/test/tests/integration/technical_info/flac_md5/test_invalid_md5/test_unset_md5.py
  docs/AUDIO_TECHNICAL_INFO_GUIDE.md
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

chore(macos): automatically link installed packages in PATH
  scripts/install-system-dependencies-macos.sh
Due: none

fix(flac): handle empty output file when flac command fails
  audiometa/_audio_file.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor(pre-commit): consolidate system dependency verification
  .pre-commit-config.yaml
  .pre-commit-hooks/validate-system-dependencies.py
  CHANGELOG.md
  CONTRIBUTING.md
  scripts/verify-system-dependency-versions.py
Due: ruff-format, ruff, isort

refactor(utils): split os_dependencies_checker into separate files
  CHANGELOG.md
  CONTRIBUTING.md
  audiometa/test/README.md
  audiometa/test/tests/conftest.py
  audiometa/test/tests/installation_checks.py
  audiometa/utils/os_dependencies_checker/__init__.py
  audiometa/utils/os_dependencies_checker/base.py
  audiometa/utils/os_dependencies_checker/macos.py
  audiometa/utils/os_dependencies_checker/ubuntu.py
  audiometa/utils/os_dependencies_checker/windows.py
  scripts/install-system-dependencies-macos.sh
  scripts/install-system-dependencies-ubuntu.sh
  scripts/verify-system-dependency-versions.py
  system-dependencies.toml
Due: validate-system-dependencies, no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor(utils): move dependency config loading to os_dependencies_checker
  CHANGELOG.md
  audiometa/_audio_file.py
  audiometa/manager/_rating_supporting/id3v2/_Id3v2Manager.py
  audiometa/manager/_rating_supporting/vorbis/_VorbisManager.py
  audiometa/utils/os_dependencies_checker/config.py
  audiometa/utils/tool_path_resolver.py
  scripts/verify-system-dependency-versions.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor(test): use get_tool_path() in test helpers
  audiometa/test/helpers/id3v2/id3v2_frame_manual_creator.py
  audiometa/test/helpers/vorbis/vorbis_header_verifier.py
  audiometa/test/helpers/vorbis/vorbis_metadata_getter.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

refactor(scripts): remove setup-system-dependencies.sh wrapper
  CONTRIBUTING.md
  README.md
  scripts/setup-system-dependencies.sh
Due: none

docs: remove manual installation instructions from README
  CONTRIBUTING.md
  README.md
Due: none

docs: clarify production vs dev/testing tools in README
  README.md
Due: none

chore(ruff): ignore ISC001 rule to resolve formatter conflict
  pyproject.toml
Due: none

test(flac): fix MD5 check error test with proper subprocess mocking
  CHANGELOG.md
  audiometa/test/tests/unit/audio_file/technical_info/test_error_handling.py
  pyproject.toml
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

refactor(flac): remove unused code and redundant comments
  audiometa/test/tests/integration/technical_info/flac_md5/test_invalid_md5/test_audio_data_corruption.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

fix(deps): align exiftool version to 13.41 on macOS and Windows
  scripts/install-system-dependencies-macos.sh
  system-dependencies.toml
Due: validate-system-dependencies

docs: update changelog for exiftool version alignment fix
  CHANGELOG.md
Due: none

fix(chore): avoid importing mutagen in verification script
  scripts/verify-system-dependency-versions.py
Due: ruff-format, ruff, isort

fix(chore): improve import hook to prevent audiometa/__init__.py execution
  scripts/verify-system-dependency-versions.py
Due: ruff-format, ruff, isort

fix(macos): use correct -ver flag for exiftool version detection
  audiometa/utils/os_dependencies_checker/macos.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(pre-commit): require venv for mypy hook to avoid broken system mypy
  .pre-commit-config.yaml
  .pre-commit-hooks/mypy-wrapper.sh
Due: none

fix(pre-commit): use venv tools for all Python hooks to avoid broken system tools
  .pre-commit-config.yaml
  .pre-commit-hooks/tool-wrapper.sh
Due: none

Path conditions:
  validate-system-dependencies: any of: ^system-dependencies\.toml$
  no-assert: any of: ^audiometa/.*\.py$, but not: ^(audiometa/test/|scripts/)
  ruff-format: any of: ^(audiometa/|\.pre-commit-hooks/|scripts/).*\.py$
  ruff: any of: ^(audiometa/|\.pre-commit-hooks/|scripts/).*\.py$
  isort: any of: ^(audiometa/|\.pre-commit-hooks/|scripts/).*\.py$
  mypy: any of: ^audiometa/.*\.py$, but not: ^(audiometa/test/|scripts/)
  docformatter: any of: ^audiometa/.*\.py$
  fix-long-comments: any of: ^audiometa/.*\.py$, but not: ^scripts/
  py-psscriptanalyzer: any of: \.ps1$
  py-psscriptanalyzer-format: any of: \.ps1$
