Repository BehindTheMusicTree/audiometa: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-shell-trailing-blank-lines, no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments, py-psscriptanalyzer, py-psscriptanalyzer-format

Path conditions:
  fix-shell-trailing-blank-lines: any of: \.(sh|bash)$
  no-assert: any of: ^audiometa/.*\.py$, but not: ^(audiometa/test/|scripts/)
  ruff-format: any of: ^(audiometa/|\.pre-commit-hooks/|scripts/).*\.py$
  ruff: any of: ^(audiometa/|\.pre-commit-hooks/|scripts/).*\.py$
  isort: any of: ^(audiometa/|\.pre-commit-hooks/|scripts/).*\.py$
  mypy: any of: ^audiometa/.*\.py$, but not: ^(audiometa/test/|scripts/)
  docformatter: any of: ^audiometa/.*\.py$
  fix-long-comments: any of: ^audiometa/.*\.py$, but not: ^scripts/
  py-psscriptanalyzer: any of: \.ps1$
  py-psscriptanalyzer-format: any of: \.ps1$

docs: update changelog with disc number feature
  CHANGELOG.md
Due: none

docs: update changelog for release 0.3.0
  CHANGELOG.md
Due: none

chore: prepare release 0.3.0
  .bumpversion.cfg
  pyproject.toml
Due: none

docs(metadata): add CLI support column to metadata field table
  CHANGELOG.md
  audiometa/cli.py
  audiometa/test/helpers/id3v2/id3v2_frame_manual_creator.py
  audiometa/test/helpers/id3v2/id3v2_metadata_deleter.py
  audiometa/test/helpers/id3v2/id3v2_metadata_setter.py
  audiometa/test/helpers/riff/riff_manual_metadata_creator.py
  audiometa/test/helpers/riff/riff_metadata_setter.py
  audiometa/test/helpers/vorbis/vorbis_metadata_setter.py
  audiometa/test/tests/e2e/cli/read/__init__.py
  audiometa/test/tests/e2e/cli/read/test_basic.py
  audiometa/test/tests/e2e/cli/read/test_comprehensive.py
  audiometa/test/tests/e2e/cli/read/test_formats.py
  audiometa/test/tests/e2e/cli/read/test_metadata_content.py
  audiometa/test/tests/e2e/cli/read/test_multiple_files.py
  audiometa/test/tests/e2e/cli/read/test_options.py
  audiometa/test/tests/e2e/cli/read/test_unified.py
  audiometa/test/tests/e2e/cli/test_cli_unified.py
  audiometa/test/tests/e2e/cli/test_delete.py
  audiometa/test/tests/e2e/cli/test_formatting.py
  audiometa/test/tests/e2e/cli/test_help.py
  audiometa/test/tests/e2e/cli/write/__init__.py
  audiometa/test/tests/e2e/cli/write/test_basic.py
  audiometa/test/tests/e2e/cli/write/test_comprehensive.py
  audiometa/test/tests/e2e/cli/write/test_force_format.py
  audiometa/test/tests/e2e/cli/write/test_integer_fields.py
  audiometa/test/tests/e2e/cli/write/test_list_fields.py
  audiometa/test/tests/e2e/cli/write/test_rating.py
  audiometa/test/tests/e2e/cli/write/test_string_fields.py
  audiometa/test/tests/e2e/cli/write/test_validation.py
  docs/METADATA_FIELD_GUIDE.md
  scripts/free-cache-macos.sh
Due: fix-shell-trailing-blank-lines, no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(test): use id3v2.3 format in test_mixed_scenario_modern_format_with_both_patterns
  audiometa/test/tests/integration/multiple_values/reading/test_smart_parsing_scenarios.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

docs: update changelog for release 0.3.1
  CHANGELOG.md
Due: none

chore: prepare release 0.3.1
  .bumpversion.cfg
  pyproject.toml
Due: none

style: format markdown with prettier
  .cursor/rules/testing.mdc
  CHANGELOG.md
  README.md
  audiometa/__init__.py
  audiometa/test/tests/integration/test_audio_file.py
  audiometa/test/tests/unit/audio_file/test_is_audio_file.py
  docs/AUDIO_TECHNICAL_INFO_GUIDE.md
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

chore: update CHANGELOG for release 0.4.0
  CHANGELOG.md
Due: none

chore: prepare release 0.4.0
  .bumpversion.cfg
  pyproject.toml
Due: none

fix(ci): add retry logic for brew update in macOS CI
  CHANGELOG.md
  scripts/install-system-dependencies-macos.sh
Due: fix-shell-trailing-blank-lines

chore: update CHANGELOG for release 0.4.1
  CHANGELOG.md
Due: none

chore: prepare release 0.4.1
  .bumpversion.cfg
  pyproject.toml
Due: none

docs(metadata): add comprehensive metadata formats guide and BWF field support
  README.md
  docs/METADATA_FIELD_GUIDE.md
  docs/METADATA_FORMATS.md
Due: none

docs(metadata): reduce table width and fix field name
  docs/METADATA_FIELD_GUIDE.md
Due: none

docs(metadata): clarify BWF structure and bext chunk behavior
  docs/METADATA_FORMATS.md
Due: none

docs: document BWF versions and field support in metadata guides
  docs/METADATA_FIELD_GUIDE.md
  docs/METADATA_FORMATS.md
Due: none

docs: update guides for BWF v2 loudness metadata parsing
  docs/METADATA_FIELD_GUIDE.md
  docs/METADATA_FORMATS.md
Due: none

feat(riff): parse BWF v2 loudness metadata fields
  audiometa/manager/_rating_supporting/riff/_RiffManager.py
  audiometa/manager/_rating_supporting/riff/_riff_constants.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

test(get_full_metadata): reorganize tests into focused files
  audiometa/test/tests/integration/get_full_metadata/test_audio_formats.py
  audiometa/test/tests/integration/get_full_metadata/test_consistency.py
  audiometa/test/tests/integration/get_full_metadata/test_edge_cases.py
  audiometa/test/tests/integration/get_full_metadata/test_error_handling.py
  audiometa/test/tests/integration/get_full_metadata/test_get_full_metadata.py
  audiometa/test/tests/integration/get_full_metadata/test_get_full_metadata_edge_cases.py
  audiometa/test/tests/integration/get_full_metadata/test_performance.py
  audiometa/test/tests/integration/get_full_metadata/test_riff_bext.py
  audiometa/test/tests/integration/get_full_metadata/test_structure.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

docs(changelog): make entries more concise
  .cursor/rules/changelog.mdc
  CHANGELOG.md
  audiometa/test/helpers/riff/riff_metadata_getter.py
  audiometa/test/helpers/riff/riff_metadata_setter.py
  audiometa/test/tests/unit/metadata_managers/header_info/test_riff.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

docs(bwf): clarify bext access method in metadata formats guide
  docs/METADATA_FORMATS.md
Due: none

docs: prepare changelog for 0.5.0 release
  CHANGELOG.md
Due: none

chore: prepare release 0.5.0
  .bumpversion.cfg
  pyproject.toml
Due: none

docs: update metadata guides for BWF and ISRC support
  docs/METADATA_FIELD_GUIDE.md
  docs/METADATA_FORMATS.md
Due: none

test(e2e): add ISRC to comprehensive CLI tests
  audiometa/test/tests/e2e/cli/read/test_comprehensive.py
  audiometa/test/tests/e2e/cli/write/test_comprehensive.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

feat(isrc): add unified metadata support with format validation
  CHANGELOG.md
  audiometa/__init__.py
  audiometa/cli.py
  audiometa/manager/_MetadataManager.py
  audiometa/manager/_rating_supporting/id3v2/_Id3v2Manager.py
  audiometa/manager/_rating_supporting/riff/_RiffManager.py
  audiometa/manager/_rating_supporting/vorbis/_VorbisManager.py
  audiometa/test/helpers/riff/riff_metadata_setter.py
  audiometa/test/tests/integration/metadata_field/isrc/__init__.py
  audiometa/test/tests/integration/metadata_field/isrc/test_deleting.py
  audiometa/test/tests/integration/metadata_field/isrc/test_reading.py
  audiometa/test/tests/integration/metadata_field/isrc/test_writing.py
  audiometa/test/tests/unit/metadata_managers/metadata_field/test_isrc_validation.py
  audiometa/utils/unified_metadata_key.py
  docs/METADATA_FIELD_GUIDE.md
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor: extract shared metadata field format validation
  CHANGELOG.md
  audiometa/__init__.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor: extract rating validation into shared helper
  CHANGELOG.md
  audiometa/__init__.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor(tests): split ISRC validation tests into separate files
  audiometa/test/tests/unit/metadata_managers/metadata_field/test_isrc_format_validation.py
  audiometa/test/tests/unit/metadata_managers/metadata_field/test_isrc_type_validation.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

test(integration): add explicit metadata format tests for ISRC writing
  audiometa/test/tests/integration/metadata_field/isrc/test_writing.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

test: add more bitrate tests
  CHANGELOG.md
Due: none

feat!: standardize bitrate to bps instead of kbps
  CHANGELOG.md
  README.md
  audiometa/__init__.py
  audiometa/_audio_file.py
  audiometa/test/tests/e2e/cli/test_formatting.py
  audiometa/test/tests/integration/get_full_metadata/test_audio_formats.py
  audiometa/test/tests/integration/get_full_metadata/test_consistency.py
  audiometa/test/tests/integration/get_full_metadata/test_edge_cases.py
  audiometa/test/tests/integration/get_full_metadata/test_options.py
  audiometa/test/tests/integration/technical_info/test_bitrate.py
  audiometa/utils/types.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

docs: update CHANGELOG for 0.6.0 release
  CHANGELOG.md
Due: none

chore: prepare release 0.6.0
  .bumpversion.cfg
  pyproject.toml
Due: none

docs: streamline bitrate test assets changelog entry
  CHANGELOG.md
Due: none

fix(sync): filter unsupported fields per-format with individual warnings
  README.md
  audiometa/__init__.py
  audiometa/test/helpers/common/external_tool_runner.py
  audiometa/test/helpers/id3v2/id3v2_metadata_setter.py
  audiometa/test/tests/integration/writing/writing_strategies/test_sync_strategy.py
  audiometa/utils/tool_path_resolver.py
  docs/WRITING_METADATA.md
  system-dependencies-verification.toml
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

docs(changelog): add entries for sync strategy fix and test infrastructure improvements
  CHANGELOG.md
Due: none

docs: prepare changelog for 0.6.1 release
  CHANGELOG.md
Due: none
