Repository BehindTheMusicTree/audiometa: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# To install: pre-commit install
# To run manually: pre-commit run --all-files
# To run on staged files only: pre-commit run
#
# Pre-commit hooks execution order - order matters!
# 1. pre-commit-hooks: Basic checks (yaml, json, toml, large files, merge conflicts, debug statements, trailing whitespace)
# 2. no-assert: Check for assert statements in production code
# 3. ruff-format: Format code (replaces black, handles EOF newlines automatically)
# 4. ruff: Auto-fix linting issues (including unused imports/variables, code style, line length)
# 5. isort: Sort imports (configured to work with ruff-format/black)
# 6. mypy: Type checking on formatted code
# 7. docformatter: Format docstrings (after code formatting)
# 8. fix-long-comments: Fix long comment lines (custom hook)
# 9. prettier: Format markdown files (preserves list numbering without zero-padding)

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=10000"]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: no-assert
        name: Check for assert statements in production code
        entry: bash -c '.pre-commit-hooks/no-assert.sh "$@"' --
        language: system
        files: ^audiometa/.*\.py$
        exclude: ^(audiometa/test/|scripts/)

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        entry: ruff format --line-length=120
        language: system
        files: ^audiometa/.*\.py$
      - id: ruff
        name: ruff
        entry: ruff check --fix --line-length=120
        language: system
        files: ^audiometa/.*\.py$
      - id: isort
        name: isort
        entry: isort --profile black --line-length=120
        language: system
        files: ^audiometa/.*\.py$
      - id: mypy
        name: mypy
        # Note: pytest type stubs are not available as a separate package (types-pytest doesn't exist)
        # Mypy will report "Cannot find implementation or library stub for module named 'pytest'"
        # This is expected and acceptable - real import errors are still caught by test execution
        # The mypy overrides in pyproject.toml relax type checking rules for test files
        entry: mypy --follow-imports=normal
        language: system
        files: ^audiometa/.*\.py$
        exclude: ^(audiometa/test/|scripts/)
        pass_filenames: true
      - id: docformatter
        name: docformatter
        entry: docformatter
        language: python
        additional_dependencies: ["docformatter[tomli]"]
        args: ["--in-place", "--wrap-summaries=120", "--wrap-descriptions=120"]
        files: ^audiometa/
        pass_filenames: true
      - id: fix-long-comments
        name: Fix long comment lines
        entry: bash -c '.pre-commit-hooks/fix-long-comments.py "$@"' --
        language: system
        files: ^audiometa/.*\.py$
        exclude: ^scripts/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [markdown]
        additional_dependencies:
          - prettier@^3.0.0

chore(ci): enhance comments for tool version alignment and consistency in linting and testing steps
  .github/workflows/ci.yml
Due: none

fix(test): simplify pytest addopts by removing unnecessary order markers
  pyproject.toml
Due: none

fix(test): update testpaths in pyproject.toml and remove deprecated pytest.ini
  pyproject.toml
  pytest.ini
Due: none

chore: update .gitignore to include .vscode settings and add initial settings.json
  .gitignore
  .vscode/settings.json
Due: none

chore(ci): add mediainfo to system dependencies
  .github/workflows/ci.yml
Due: none

chore(pre-commit): fix ruff configuration to catch all errors
  .pre-commit-config.yaml
  pyproject.toml
Due: none

chore: fix linting errors detected by pre-commit
  audiometa/__init__.py
  audiometa/_audio_file.py
  audiometa/manager/_MetadataManager.py
  audiometa/manager/_rating_supporting/_Id3v2Manager.py
  audiometa/manager/_rating_supporting/_RatingSupportingMetadataManager.py
  audiometa/manager/_rating_supporting/_RiffManager.py
  audiometa/manager/_rating_supporting/_VorbisManager.py
  audiometa/manager/id3v1/_Id3v1Manager.py
  audiometa/test/helpers/id3v2/id3v2_frame_manual_creator.py
  audiometa/test/tests/integration/audio_format/flac/test_flac_delete_all.py
  audiometa/test/tests/integration/metadata_field/composer/test_deleting.py
  audiometa/test/tests/integration/metadata_field/copyright/test_deleting.py
  audiometa/test/tests/integration/metadata_field/copyright/test_reading.py
  audiometa/test/tests/integration/metadata_field/field_not_supported/test_deleting.py
  audiometa/test/tests/integration/metadata_field/field_not_supported/test_reading.py
  audiometa/test/tests/integration/metadata_field/field_not_supported/test_writing.py
  audiometa/test/tests/integration/metadata_field/lyrics/test_deleting.py
  audiometa/test/tests/integration/metadata_field/lyrics/test_reading.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(cli): add warning when PyYAML not installed
  audiometa/cli.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(test): update WAV metadata test to match actual file content
  audiometa/test/tests/integration/real_audio_files/test_reading.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

fix(cli): add output messages for write and delete commands
  audiometa/cli.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(cli): add comprehensive error handling and input validation
  audiometa/cli.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(cli): include file name in success message for multiple files
  audiometa/cli.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

chore: fix critical linting issues
  .prettierrc.json
  audiometa/test/tests/e2e/workflows/test_deletion_workflows.py
  audiometa/test/tests/integration/multiple_values/writing/metadata_format/test_id3v2_4.py
  audiometa/test/tests/integration/real_audio_files/test_writing.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

chore(test): add missing __init__.py files to test directories
  audiometa/test/tests/e2e/scenarios/__init__.py
  audiometa/test/tests/integration/audio_format/flac/__init__.py
  audiometa/test/tests/integration/audio_format/mp3/__init__.py
  audiometa/test/tests/integration/audio_format/wav/__init__.py
  audiometa/test/tests/integration/metadata_field/genre/reading/metadata_format/__init__.py
  audiometa/test/tests/unit/metadata_managers/header_info/__init__.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

chore(test): replace pytest.raises(Exception) with specific exceptions
  audiometa/test/tests/e2e/workflows/test_error_handling_workflows.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

chore: add ClassVar annotations to mutable class attributes
  audiometa/manager/_rating_supporting/_Id3v2Manager.py
  audiometa/utils/rating_profiles.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

chore(test): fix class naming conventions
  audiometa/test/tests/integration/multiple_values/reading/metadata_format/test_id3v2_4.py
  audiometa/test/tests/integration/multiple_values/writing/metadata_format/test_id3v2_3.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

chore: add ClassVar import to rating_profiles
  audiometa/utils/rating_profiles.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

test: fix INP001 and B017/PT011 critical linting errors
  audiometa/test/tests/e2e/workflows/test_error_handling_workflows.py
  audiometa/test/tests/integration/audio_format/__init__.py
  audiometa/test/tests/integration/get_full_metadata/test_get_full_metadata.py
  audiometa/test/tests/unit/metadata_managers/metadata_field/test_date_format_validation.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

refactor(core): add constants modules for audio format specifications
  audiometa/manager/_rating_supporting/id3v2/_id3v2_constants.py
  audiometa/manager/_rating_supporting/riff/_riff_constants.py
  audiometa/manager/_rating_supporting/vorbis/_vorbis_constants.py
  audiometa/manager/id3v1/_constants.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor(core): replace magic numbers with named constants in production code
  audiometa/_audio_file.py
  audiometa/manager/_rating_supporting/id3v2/_Id3v2Manager.py
  audiometa/manager/_rating_supporting/riff/_RiffManager.py
  audiometa/manager/_rating_supporting/vorbis/_VorbisManager.py
  audiometa/manager/id3v1/Id3v1RawMetadata.py
  audiometa/manager/id3v1/_Id3v1Manager.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

chore(ruff): configure PLR2004 ignore for test files and pre-commit hooks
  pyproject.toml
Due: none

refactor(core): reorganize manager files into format-specific subdirectories
  audiometa/manager/_rating_supporting/_Id3v2Manager.py
  audiometa/manager/_rating_supporting/_RiffManager.py
  audiometa/manager/_rating_supporting/_VorbisManager.py
  audiometa/manager/_rating_supporting/id3v2/__init__.py
  audiometa/manager/_rating_supporting/riff/__init__.py
  audiometa/manager/_rating_supporting/vorbis/__init__.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor(core): update imports to reflect new manager subdirectory structure
  audiometa/__init__.py
  audiometa/test/tests/integration/get_full_metadata/test_binary_data_filtering.py
  audiometa/test/tests/unit/metadata_managers/header_info/test_id3v2.py
  audiometa/test/tests/unit/metadata_managers/header_info/test_riff.py
  audiometa/test/tests/unit/metadata_managers/header_info/test_vorbis.py
  audiometa/test/tests/unit/metadata_managers/metadata_field/rating/reading/test_normalization.py
  audiometa/test/tests/unit/metadata_managers/metadata_field/rating/writing/test_validation.py
  audiometa/test/tests/unit/metadata_managers/metadata_field/rating/writing/test_writing_profiles.py
  audiometa/test/tests/unit/metadata_managers/test_metadata_format_managers_write_and_read.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

style(test): use Path.open() instead of open() for file operations
  audiometa/cli.py
  audiometa/test/helpers/id3v1/id3v1_header_verifier.py
  audiometa/test/helpers/id3v1/id3v1_metadata_getter.py
  audiometa/test/helpers/id3v2/id3v2_frame_manual_creator.py
  audiometa/test/helpers/id3v2/id3v2_header_verifier.py
  audiometa/test/helpers/id3v2/id3v2_metadata_getter.py
  audiometa/test/helpers/riff/riff_header_verifier.py
  audiometa/test/helpers/riff/riff_manual_metadata_creator.py
  audiometa/test/helpers/riff/riff_metadata_getter.py
  audiometa/test/tests/e2e/cli/test_cli_read.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

style(test): fix long docstring lines in test helpers
  audiometa/test/helpers/__init__.py
  audiometa/test/helpers/id3v2/id3v2_metadata_setter.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

style(test): combine nested with statements in format tests
  audiometa/test/tests/integration/audio_format/flac/test_flac_reading_all.py
  audiometa/test/tests/integration/audio_format/flac/test_flac_reading_field.py
  audiometa/test/tests/integration/audio_format/flac/test_flac_writing.py
  audiometa/test/tests/integration/audio_format/mp3/test_mp3_delete_all.py
  audiometa/test/tests/integration/audio_format/mp3/test_mp3_reading_all.py
  audiometa/test/tests/integration/audio_format/mp3/test_mp3_reading_field.py
  audiometa/test/tests/integration/audio_format/mp3/test_mp3_writing.py
  audiometa/test/tests/integration/audio_format/wav/test_wav_delete_all.py
  audiometa/test/tests/integration/audio_format/wav/test_wav_reading_all.py
  audiometa/test/tests/integration/audio_format/wav/test_wav_reading_field.py
  audiometa/test/tests/integration/audio_format/wav/test_wav_writing.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

style(test): combine nested with statements in metadata field tests
  audiometa/test/tests/integration/metadata_field/album_artists/test_writing.py
  audiometa/test/tests/integration/metadata_field/bpm/test_deleting.py
  audiometa/test/tests/integration/metadata_field/bpm/test_reading.py
  audiometa/test/tests/integration/metadata_field/language/test_deleting.py
  audiometa/test/tests/integration/metadata_field/publisher/test_deleting.py
  audiometa/test/tests/integration/metadata_field/rating/test_deleting.py
  audiometa/test/tests/integration/metadata_field/rating/test_error_handling.py
  audiometa/test/tests/integration/metadata_field/test_metadata_field_validation.py
  audiometa/test/tests/integration/writing/writing_strategies/test_sync_strategy.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

style(test): prefix unused fixtures with underscore
  audiometa/test/tests/e2e/cli/error_handling/test_format_output_errors.py
  audiometa/test/tests/e2e/scenarios/test_user_scenarios.py
  audiometa/test/tests/integration/metadata_field/rating/writing/metadata_format/test_id3v2.py
  audiometa/test/tests/integration/metadata_field/rating/writing/metadata_format/test_riff.py
  audiometa/test/tests/integration/metadata_field/rating/writing/metadata_format/test_vorbis.py
  audiometa/test/tests/integration/technical_info/test_flac_md5.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

style(test): fix long docstring line in genre reading test
  audiometa/test/tests/integration/metadata_field/genre/reading/test_smart_reading.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

docs: add Ruff style best practices documentation
  .cursor/rules/ruff-style-best-practices.mdc
Due: none

fix(manager): resolve circular import issues
  audiometa/manager/_MetadataManager.py
  audiometa/manager/_rating_supporting/_RatingSupportingMetadataManager.py
  audiometa/manager/_rating_supporting/id3v2/_Id3v2Manager.py
  audiometa/manager/_rating_supporting/riff/_RiffManager.py
  audiometa/manager/_rating_supporting/vorbis/_VorbisManager.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

feat(core)!: require Python 3.12+ minimum
  .github/workflows/ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  pyproject.toml
Due: none

chore(deps): update mypy to 1.18.2 for PEP 695 support
  .pre-commit-config.yaml
  audiometa/cli.py
  audiometa/test/assets/create_test_files.py
  pyproject.toml
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

chore(deps): update flake8 to version 6.0.0
  pyproject.toml
Due: none

chore(pre-commit): use Python 3.13 for debug-statements hook
  .pre-commit-config.yaml
  audiometa/__init__.py
  audiometa/_audio_file.py
  audiometa/cli.py
  audiometa/manager/_MetadataManager.py
  audiometa/manager/_rating_supporting/_RatingSupportingMetadataManager.py
  audiometa/manager/_rating_supporting/id3v2/_Id3v2Manager.py
  audiometa/manager/_rating_supporting/riff/_RiffManager.py
  audiometa/manager/_rating_supporting/vorbis/_VorbisManager.py
  audiometa/manager/id3v1/_Id3v1Manager.py
  audiometa/test/helpers/technical_info_inspector.py
  audiometa/test/helpers/vorbis/vorbis_metadata_deleter.py
  audiometa/test/tests/integration/get_full_metadata/test_get_full_metadata_edge_cases.py
  audiometa/test/tests/integration/technical_info/test_flac_md5.py
  audiometa/test/tests/unit/audio_file/technical_info/test_error_handling.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor(core): use contextlib.suppress instead of try-except-pass
  audiometa/manager/_rating_supporting/id3v2/_Id3v2Manager.py
  audiometa/test/tests/unit/metadata_managers/metadata_field/test_type_validation.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor(core): combine nested if statements
  audiometa/manager/_rating_supporting/riff/_RiffManager.py
  audiometa/test/helpers/id3v2/id3v2_frame_manual_creator.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments
