Repository BehindTheMusicTree/audiometa: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-shell-trailing-blank-lines, no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments, py-psscriptanalyzer, py-psscriptanalyzer-format

Path conditions:
  fix-shell-trailing-blank-lines: any of: \.(sh|bash)$
  no-assert: any of: ^audiometa/.*\.py$, but not: ^(audiometa/test/|scripts/)
  ruff-format: any of: ^(audiometa/|\.pre-commit-hooks/|scripts/).*\.py$
  ruff: any of: ^(audiometa/|\.pre-commit-hooks/|scripts/).*\.py$
  isort: any of: ^(audiometa/|\.pre-commit-hooks/|scripts/).*\.py$
  mypy: any of: ^audiometa/.*\.py$, but not: ^(audiometa/test/|scripts/)
  docformatter: any of: ^audiometa/.*\.py$
  fix-long-comments: any of: ^audiometa/.*\.py$, but not: ^scripts/
  py-psscriptanalyzer: any of: \.ps1$
  py-psscriptanalyzer-format: any of: \.ps1$

style: fix trailing whitespace in remove-worktree-interactive.sh
  CHANGELOG.md
  docs/GIT_WORKTREES.md
  scripts/remove-worktree-interactive.sh
Due: fix-shell-trailing-blank-lines

chore: pin prettier to exact version 3.3.3 to ensure CI/local consistency
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  PR_DESCRIPTION.md
  PR_DESCRIPTION_LABELER.md
  PR_DESCRIPTION_WORKTREE.md
  TODO.md
  docs/GIT_WORKTREES.md
  docs/METADATA_FIELD_GUIDE.md
  docs/MULTIPLE_VALUES.md
  docs/RATING_HANDLING.md
  docs/TESTING.md
  scripts/create-worktree.sh
  scripts/cursor-common.sh
  scripts/editor-common.sh
  scripts/open-worktree.sh
  scripts/remove-worktree-interactive.sh
Due: fix-shell-trailing-blank-lines

chore: remove broken download badges from README
  README.md
Due: none

docs: update CHANGELOG for badge removal
  CHANGELOG.md
Due: none

docs: add GitHub issue generation cursor rule
  .cursor/rules/github-issues.mdc
  CHANGELOG.md
Due: none

docs: add GitHub issue and PR description generation cursor rules
  .cursor/rules/github-bug-reports.mdc
  .cursor/rules/github-feature-requests.mdc
  .cursor/rules/github-issues.mdc
  .cursor/rules/pr-descriptions.mdc
  CHANGELOG.md
  PR_DESCRIPTION_CURSOR_RULES.md
Due: none

chore(worktree): improve error handling and user guidance
  CHANGELOG.md
  docs/GIT_WORKTREES.md
  scripts/remove-worktree-branch.sh
  scripts/remove-worktree-interactive.sh
Due: fix-shell-trailing-blank-lines

fix(ci): narrow hashFiles pattern to avoid macOS traversal issues
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

fix(ci): simplify hashFiles to single file to avoid macOS errors
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

chore(scripts): improve create-worktree handling of existing branches
  CHANGELOG.md
  docs/GIT_WORKTREES.md
  scripts/create-worktree.sh
Due: fix-shell-trailing-blank-lines

chore(ci): upgrade session-manager-plugin in macOS CI to prevent outdated warnings
  CHANGELOG.md
  scripts/install-system-dependencies-macos.sh
Due: fix-shell-trailing-blank-lines

chore(ci): upgrade session-manager-plugin in macOS CI to prevent outdated warnings
  CHANGELOG.md
Due: none

chore(worktree): fix remote branch detection using git ls-remote
  CHANGELOG.md
  scripts/remove-worktree-branch.sh
  scripts/remove-worktree-interactive.sh
Due: fix-shell-trailing-blank-lines

docs(changelog): reorganize documentation entries in Added section
  CHANGELOG.md
Due: none

chore: remove PR description documentation files
  PR_DESCRIPTION.md
  PR_DESCRIPTION_CURSOR_RULES.md
  PR_DESCRIPTION_LABELER.md
  PR_DESCRIPTION_WORKTREE.md
Due: none

docs: remove general PR description case, require topic-specific files
  .cursor/rules/pr-descriptions.mdc
Due: none

chore: add gitignored .pr-descriptions/ directory for PR descriptions
  .cursor/rules/pr-descriptions.mdc
  .gitignore
Due: none

docs: prepare changelog for release 0.2.8
  CHANGELOG.md
Due: none

chore: prepare release 0.2.8
  .bumpversion.cfg
  pyproject.toml
Due: none

docs: summarize changelog entries for release 0.2.8
  CHANGELOG.md
Due: none

ci: add chore branches to CI trigger
  .github/workflows/ci.yml
Due: none

docs: update comment to reference pydocstringformatter instead of docformatter
  .pre-commit-config.yaml
Due: none

docs: remove docformatter reference from CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

fix(pre-commit): configure pydocstringformatter to prevent sentence breaking
  .pre-commit-config.yaml
  audiometa/test/helpers/id3v2/id3v2_metadata_getter.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

chore(deps): replace docformatter with pydocstringformatter
  .cursor/rules/pre-commit.mdc
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/check-tool-versions.sh
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  audiometa/_audio_file.py
  audiometa/test/helpers/id3v2/id3v2_metadata_getter.py
  audiometa/test/tests/integration/metadata_field/genre/reading/test_smart_reading.py
  audiometa/test/tests/integration/metadata_field/test_metadata_field_validation.py
  audiometa/test/tests/integration/multiple_values/reading/test_smart_parsing_scenarios.py
  audiometa/utils/metadata_writing_strategy.py
  docs/COMMITTING.md
  pyproject.toml
  scripts/create-worktree.sh
Due: fix-shell-trailing-blank-lines, no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor(test): simplify module docstring in id3v2_metadata_getter
  audiometa/test/helpers/id3v2/id3v2_metadata_getter.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

fix(pre-commit): add --no-final-period to prevent adding periods to docstrings
  .pre-commit-config.yaml
  audiometa/test/tests/integration/metadata_field/test_metadata_field_validation.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

docs: update changelog and PR description with pytest and pydocstringformatter changes
  CHANGELOG.md
Due: none

chore(test): replace --disable-warnings with filterwarnings for selective suppression
  CHANGELOG.md
  docs/TESTING.md
  pyproject.toml
Due: none

fix(deps): update pytest and pytest-mock versions for Python 3.14 compatibility
  pyproject.toml
Due: none

chore: prepare release 0.2.9
  CHANGELOG.md
Due: none

chore: prepare release 0.2.9
  .bumpversion.cfg
  pyproject.toml
Due: none

chore(scripts): migrate worktree scripts to npm package
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  docs/GIT_WORKTREES.md
  package.json
  scripts/create-worktree.sh
  scripts/editor-common.sh
  scripts/install-system-dependencies-macos.sh
  scripts/install-system-dependencies-ubuntu.sh
  scripts/install-system-dependencies-windows.ps1
  scripts/open-worktree.sh
  scripts/remove-worktree-branch.sh
  scripts/remove-worktree-interactive.sh
  scripts/setup-worktree.sh
Due: fix-shell-trailing-blank-lines, py-psscriptanalyzer, py-psscriptanalyzer-format

style: remove trailing whitespace from package.json and setup-worktree.sh
  package.json
  scripts/setup-worktree.sh
Due: fix-shell-trailing-blank-lines

chore(deps): pin git-worktree-scripts to 1.0.3
  package.json
Due: none

chore(deps): update git-worktree-scripts to 1.2.5
  CHANGELOG.md
  package.json
Due: none

docs: update changelog for git-worktree-scripts migration
  CHANGELOG.md
Due: none

docs(disc-number): document disc number support with DISC_NUMBER and DISC_TOTAL fields
  TODO.md
  docs/DISC_NUMBER.md
  docs/METADATA_FIELD_GUIDE.md
Due: none

test(disc-number): add unit and integration tests for DISC_NUMBER and DISC_TOTAL
  audiometa/test/helpers/id3v2/id3v2_metadata_setter.py
  audiometa/test/helpers/vorbis/vorbis_metadata_setter.py
  audiometa/test/tests/integration/metadata_field/disc_number/__init__.py
  audiometa/test/tests/integration/metadata_field/disc_number/test_deleting.py
  audiometa/test/tests/integration/metadata_field/disc_number/test_reading.py
  audiometa/test/tests/integration/metadata_field/disc_number/test_writing.py
  audiometa/test/tests/unit/metadata_managers/metadata_field/test_disc_number_validation.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

feat(core): implement DISC_NUMBER and DISC_TOTAL unified metadata fields
  audiometa/__init__.py
  audiometa/manager/_MetadataManager.py
  audiometa/manager/_rating_supporting/id3v2/_Id3v2Manager.py
  audiometa/manager/_rating_supporting/vorbis/_VorbisManager.py
  audiometa/utils/unified_metadata_key.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments
