Repository BehindTheMusicTree/audiometa: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-assert, docformatter, fix-long-comments

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# To install: pre-commit install
# To run manually: pre-commit run --all-files
# To run on staged files only: pre-commit run

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=10000"]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements

  - repo: local
    hooks:
      - id: no-assert
        name: Check for assert statements in production code
        entry: bash -c '.pre-commit-hooks/no-assert.sh "$@"' --
        language: system
        files: ^audiometa/.*\.py$
        exclude: ^(audiometa/test/|scripts/)

  # Code formatters and linters - order matters!
  # 1. autoflake: Remove unused imports/variables first
  # 2. isort: Sort imports (configured to work with ruff-format/black)
  # 3. ruff-format: Format code (replaces black, must run before linting)
  # 4. docformatter: Format docstrings (after code formatting)
  # 5. fix-long-comments: Fix long comment lines (custom hook)
  # 6. ruff: Auto-fix linting issues (including line length)
  # 7. mypy: Type checking on formatted code
  # 8. flake8: Lint already-formatted code
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variables",
            "--ignore-init-module-imports",
          ]
        files: ^audiometa/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black", "--line-length=120"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff-format
        args: ["--line-length=120"]
        files: ^audiometa/
      - id: ruff
        args: ["--fix", "--line-length=120"]
        files: ^audiometa/

  - repo: local
    hooks:
      - id: docformatter
        name: docformatter
        entry: docformatter
        language: python
        additional_dependencies: ["docformatter[tomli]"]
        args: ["--in-place", "--wrap-summaries=120", "--wrap-descriptions=120"]
        files: ^audiometa/
        pass_filenames: true
      - id: fix-long-comments
        name: Fix long comment lines
        entry: bash -c '.pre-commit-hooks/fix-long-comments.py "$@"' --
        language: system
        files: ^audiometa/.*\.py$
        exclude: ^scripts/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: []
        args: ["--follow-imports=skip"]
        files: ^audiometa/
        exclude: ^scripts/
        pass_filenames: true

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ["--max-line-length=120", "--extend-ignore=E203,W503"]
        additional_dependencies: [flake8-docstrings]
        files: ^audiometa/

docs: clarify mypy follow-imports behavior and document exception for large refactorings
  .pre-commit-config.yaml
  audiometa/CONTRIBUTING.md
  audiometa/test/tests/integration/get_full_metadata/test_binary_data_filtering.py
  audiometa/test/tests/unit/metadata_managers/header_info/test_id3v2.py
  audiometa/test/tests/unit/metadata_managers/header_info/test_riff.py
  audiometa/test/tests/unit/metadata_managers/header_info/test_vorbis.py
  audiometa/test/tests/unit/metadata_managers/metadata_field/rating/reading/test_normalization.py
  audiometa/test/tests/unit/metadata_managers/metadata_field/rating/writing/test_validation.py
  audiometa/test/tests/unit/metadata_managers/metadata_field/rating/writing/test_writing_profiles.py
  audiometa/test/tests/unit/metadata_managers/test_metadata_format_managers_write_and_read.py
Due: docformatter, fix-long-comments

chore(pre-commit): add mdformat for markdown file formatting
  .pre-commit-config.yaml
Due: none

chore(pre-commit): add mdformat for markdown formatting and document it
  .pre-commit-config.yaml
  audiometa/CONTRIBUTING.md
Due: docformatter

chore(pre-commit): configure mdformat to use consecutive numbering for ordered lists
  .mdformat.toml
  audiometa/CONTRIBUTING.md
Due: docformatter

refactor(manager): remove old manager files after migration to _rating_supporting
  audiometa/manager/MetadataManager.py
  audiometa/manager/id3v1/Id3v1Manager.py
  audiometa/manager/rating_supporting/Id3v2Manager.py
  audiometa/manager/rating_supporting/RiffManager.py
  audiometa/manager/rating_supporting/VorbisManager.py
  audiometa/manager/rating_supporting/_Id3v2Manager.py
  audiometa/manager/rating_supporting/_RatingSupportingMetadataManager.py
  audiometa/manager/rating_supporting/_RiffManager.py
  audiometa/manager/rating_supporting/_VorbisManager.py
  audiometa/manager/rating_supporting/__init__.py
Due: no-assert, docformatter, fix-long-comments

refactor(manager): add new manager files in _rating_supporting directory
  audiometa/manager/_rating_supporting/_RatingSupportingMetadataManager.py
  audiometa/manager/_rating_supporting/_VorbisManager.py
  audiometa/manager/_rating_supporting/__init__.py
Due: no-assert, docformatter, fix-long-comments

fix(mypy): resolve all type checking errors in manager files
  audiometa/manager/_rating_supporting/_Id3v2Manager.py
  audiometa/manager/_rating_supporting/_RiffManager.py
  audiometa/manager/id3v1/Id3v1RawMetadata.py
  audiometa/utils/types.py
Due: no-assert, docformatter, fix-long-comments

chore: configure mypy for test files and document pytest type stubs
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  audiometa/CONTRIBUTING.md
  audiometa/_audio_file.py
  audiometa/manager/_MetadataManager.py
  audiometa/manager/_rating_supporting/_Id3v2Manager.py
  audiometa/manager/_rating_supporting/_RiffManager.py
  audiometa/manager/_rating_supporting/_VorbisManager.py
  audiometa/manager/id3v1/Id3v1RawMetadata.py
  audiometa/manager/id3v1/_Id3v1Manager.py
  pyproject.toml
Due: no-assert, docformatter, fix-long-comments

style: fix trailing whitespace in cursor rules
  .cursor/rules/code-style.mdc
Due: none

chore: add .github/GITHUB_SETUP_CHECKLIST.md to .gitignore
  .gitignore
Due: none

docs: add notes on file_path parameter type for metadata functions
  README.md
Due: none

chore: add ruff configuration for linting
  pyproject.toml
Due: none

docs: update contributing guidelines to include pre-commit setup and linting details
  audiometa/CONTRIBUTING.md
Due: docformatter

chore: reorganize pre-commit hooks and restore trailing-whitespace and end-of-file-fixer hooks
  .pre-commit-config.yaml
Due: none

chore: reorder pre-commit hooks for improved clarity and execution order
  audiometa/CONTRIBUTING.md
Due: docformatter

chore: update pre-commit hooks execution order and enhance contributing guidelines
  .pre-commit-config.yaml
  audiometa/CONTRIBUTING.md
Due: docformatter

chore: disable numbered formatting in mdformat configuration
  .mdformat.toml
Due: none

docs: add guidelines for markdown formatting and numbered lists
  .cursor/rules/file-organization.mdc
Due: none

chore: reorganize pre-commit hooks and remove unused autoflake and flake8 configurations
  .pre-commit-config.yaml
Due: none

chore: enable numbered formatting in mdformat configuration
  .mdformat.toml
Due: none

docs: update pre-commit hooks section and markdown formatting guidelines
  .cursor/rules/file-organization.mdc
Due: none

chore: add pre-commit hooks and markdown formatting guidelines
  .cursor/rules/file-organization.mdc
  .cursor/rules/markdown-formatting.mdc
  .cursor/rules/pre-commit.mdc
Due: none

chore: update pre-commit hooks to streamline linting and formatting processes
  audiometa/CONTRIBUTING.md
Due: docformatter

chore: update pre-commit hook documentation with manual usage instructions
  audiometa/CONTRIBUTING.md
Due: docformatter

chore: replace mdformat with prettier for markdown formatting
  .pre-commit-config.yaml
Due: none

docs: refine metadata handling examples and clarify write profiles in README
  README.md
Due: none

chore: update pre-commit hook documentation with manual usage instructions and replace mdformat with prettier
  audiometa/CONTRIBUTING.md
Due: docformatter

chore: add Prettier configuration file for consistent code formatting
  .prettierrc.json
Due: none

docs: update TODO.md with additional testing tasks and enhancements for audio metadata support
  TODO.md
Due: none

docs: update markdown formatting rules to use standard numbering for lists
  .cursor/rules/markdown-formatting.mdc
Due: none

style: standardize string quotes and formatting in fix-long-comments.py
  .pre-commit-hooks/fix-long-comments.py
Due: none

style: remove type ignore comments for mutagen imports in _audio_file.py and Id3v1RawMetadata.py
  audiometa/_audio_file.py
  audiometa/manager/id3v1/Id3v1RawMetadata.py
Due: no-assert, docformatter, fix-long-comments

style: update file type annotations to include Path in __init__.py
  audiometa/__init__.py
Due: no-assert, docformatter, fix-long-comments

style: fix formatting in InvalidMetadataFieldFormatError message
  audiometa/exceptions.py
Due: no-assert, docformatter, fix-long-comments

style: standardize string quotes in _Id3v2Manager.py
  audiometa/manager/_rating_supporting/_Id3v2Manager.py
Due: no-assert, docformatter, fix-long-comments

style: fix formatting in InvalidRatingValueError message
  audiometa/manager/_rating_supporting/_RatingSupportingMetadataManager.py
Due: no-assert, docformatter, fix-long-comments

style: update variable names for clarity in test cases
  audiometa/test/README.md
Due: docformatter

style: allow untyped variables in mypy configuration for test modules
  pyproject.toml
Due: none

style: replace disallow_untyped_vars with disable_error_code for test modules in mypy configuration
  pyproject.toml
Due: none
