Repository BehindTheMusicTree/audiometa: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# To install: pre-commit install
# To run manually: pre-commit run --all-files
# To run on staged files only: pre-commit run
#
# Pre-commit hooks execution order - order matters!
# 1. pre-commit-hooks: Basic checks (yaml, json, toml, large files, merge conflicts, debug statements, trailing whitespace)
# 2. no-assert: Check for assert statements in production code
# 3. ruff-format: Format code (replaces black, handles EOF newlines automatically)
# 4. ruff: Auto-fix linting issues (including unused imports/variables, code style, line length)
# 5. isort: Sort imports (configured to work with ruff-format/black)
# 6. mypy: Type checking on formatted code
# 7. docformatter: Format docstrings (after code formatting)
# 8. fix-long-comments: Fix long comment lines (custom hook)
# 9. prettier: Format markdown files (preserves list numbering without zero-padding)

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=10000"]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: no-assert
        name: Check for assert statements in production code
        entry: bash -c '.pre-commit-hooks/no-assert.sh "$@"' --
        language: system
        files: ^audiometa/.*\.py$
        exclude: ^(audiometa/test/|scripts/)

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        entry: ruff format --line-length=120
        language: system
        files: ^audiometa/.*\.py$
      - id: ruff
        name: ruff
        entry: ruff check --fix --line-length=120
        language: system
        files: ^audiometa/.*\.py$
      - id: isort
        name: isort
        entry: isort --profile black --line-length=120
        language: system
        files: ^audiometa/.*\.py$
      - id: mypy
        name: mypy
        # Note: pytest type stubs are not available as a separate package (types-pytest doesn't exist)
        # Mypy will report "Cannot find implementation or library stub for module named 'pytest'"
        # This is expected and acceptable - real import errors are still caught by test execution
        # The mypy overrides in pyproject.toml relax type checking rules for test files
        entry: mypy --follow-imports=normal
        language: system
        files: ^audiometa/.*\.py$
        exclude: ^(audiometa/test/|scripts/)
        pass_filenames: true
      - id: docformatter
        name: docformatter
        entry: docformatter
        language: python
        additional_dependencies: ["docformatter[tomli]"]
        args: ["--in-place", "--wrap-summaries=120", "--wrap-descriptions=120"]
        files: ^audiometa/
        pass_filenames: true
      - id: fix-long-comments
        name: Fix long comment lines
        entry: bash -c '.pre-commit-hooks/fix-long-comments.py "$@"' --
        language: system
        files: ^audiometa/.*\.py$
        exclude: ^scripts/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [markdown]
        additional_dependencies:
          - prettier@^3.0.0

refactor(core): fix loop variable overwriting
  audiometa/manager/_rating_supporting/id3v2/_Id3v2Manager.py
  audiometa/test/tests/integration/delete_all_metadata/test_error_handling.py
  audiometa/test/tests/integration/reading/test_reading_error_handling.py
  audiometa/test/tests/unit/audio_file/test_file_validation.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor(core): move return statements to else blocks
  audiometa/manager/_MetadataManager.py
  audiometa/manager/_rating_supporting/id3v2/_Id3v2Manager.py
  audiometa/manager/_rating_supporting/vorbis/_VorbisManager.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor(core): move return statements to else blocks in production code
  audiometa/_audio_file.py
  audiometa/manager/_rating_supporting/id3v2/_Id3v2Manager.py
  audiometa/manager/_rating_supporting/riff/_RiffManager.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor(core): fix return statement placement in _audio_file.py
  audiometa/_audio_file.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor(test): move return statements to else blocks in test helpers
  audiometa/test/assets/create_test_files.py
  audiometa/test/helpers/id3v2/id3v2_header_verifier.py
  audiometa/test/helpers/id3v2/id3v2_metadata_getter.py
  audiometa/test/helpers/technical_info_inspector.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

refactor(test): fix remaining return statements in technical_info_inspector
  audiometa/test/helpers/technical_info_inspector.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

refactor(test): fix sample_rate return statement placement
  audiometa/test/helpers/technical_info_inspector.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

refactor(core): fix remaining TRY300 errors
  audiometa/manager/id3v1/_Id3v1Manager.py
  audiometa/test/helpers/vorbis/vorbis_header_verifier.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(core): fix unused variables and exception chaining
  audiometa/manager/id3v1/_Id3v1Manager.py
  audiometa/test/helpers/common/audio_file_creator.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor(core): fix variable and exception naming
  audiometa/__init__.py
  audiometa/exceptions.py
  audiometa/test/tests/conftest.py
  audiometa/test/tests/integration/metadata_field/field_not_supported/test_deleting.py
  audiometa/test/tests/integration/metadata_field/field_not_supported/test_reading.py
  audiometa/test/tests/integration/metadata_field/field_not_supported/test_writing.py
  audiometa/test/tests/integration/metadata_field/test_metadata_field_validation.py
  audiometa/utils/unified_metadata_key.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(core): fix remaining exception name references
  audiometa/__init__.py
  audiometa/test/tests/integration/metadata_field/field_not_supported/test_deleting.py
  audiometa/test/tests/integration/metadata_field/field_not_supported/test_reading.py
  audiometa/test/tests/integration/metadata_field/field_not_supported/test_writing.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor(core): fix type annotations and code style
  audiometa/_audio_file.py
  audiometa/manager/_rating_supporting/_RatingSupportingMetadataManager.py
  audiometa/test/helpers/common/external_tool_runner.py
  audiometa/test/helpers/id3v2/id3v2_frame_manual_creator.py
  audiometa/test/tests/integration/real_audio_files/test_reading.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(core): use proper TracebackType annotation and fix commented code
  audiometa/_audio_file.py
  audiometa/test/tests/unit/metadata_managers/metadata_field/rating/writing/test_validation.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor(core): remove unused Any import
  audiometa/_audio_file.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor(test): fix unused arguments and fixture usage
  audiometa/manager/id3v1/id3v1_raw_metadata.py
  audiometa/test/helpers/riff/riff_metadata_setter.py
  audiometa/test/tests/e2e/cli/error_handling/test_format_output_errors.py
  audiometa/test/tests/e2e/scenarios/test_user_scenarios.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor(test): fix pytest and argument issues
  audiometa/test/tests/integration/audio_format/wav/test_wav_reading_field.py
  audiometa/test/tests/integration/metadata_field/rating/writing/metadata_format/test_id3v2.py
  audiometa/test/tests/integration/metadata_field/rating/writing/metadata_format/test_riff.py
  audiometa/test/tests/integration/metadata_field/rating/writing/metadata_format/test_vorbis.py
  audiometa/test/tests/integration/metadata_field/test_metadata_field_validation.py
  audiometa/test/tests/unit/audio_file/technical_info/test_error_handling.py
  audiometa/test/tests/unit/metadata_managers/metadata_field/multiple_values/writing/test_separator_selection.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

refactor(test): fix unused lambda arguments (ARG005)
  audiometa/test/tests/unit/metadata_managers/conftest.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

style(core): fix line length in __exit__ method (E501)
  audiometa/_audio_file.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor(test): remove unused fixture parameters (PT019)
  audiometa/test/tests/integration/writing/writing_strategies/test_sync_strategy.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

chore(ruff): ignore acceptable complexity and raise abstraction rules
  .cursor/rules/ruff-ignored-rules.mdc
  pyproject.toml
Due: none

fix(ruff): use correct PLR091 rule codes for complexity warnings
  pyproject.toml
Due: none

docs(cursor): update rule codes in ruff-ignored-rules documentation
  .cursor/rules/ruff-ignored-rules.mdc
Due: none

refactor(test): remove unused Path import (F401)
  audiometa/test/tests/integration/writing/writing_strategies/test_sync_strategy.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

refactor(test): fix TRY002 and ARG001 errors
  audiometa/test/tests/unit/audio_file/technical_info/test_error_handling.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

refactor(test): fix remaining ARG001 and ARG005 errors
  audiometa/test/tests/unit/audio_file/technical_info/test_error_handling.py
  audiometa/test/tests/unit/metadata_managers/conftest.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

refactor(test): fix remaining ARG005 lambda argument errors
  audiometa/test/tests/unit/metadata_managers/conftest.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

fix(pre-commit): suppress TRY300 in fix-long-comments hook
  .pre-commit-hooks/fix-long-comments.py
Due: none

fix(utils): remove ClassVar annotations from Enum members
  audiometa/utils/rating_profiles.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(core): add None checks for audio.info to fix mypy errors
  audiometa/_audio_file.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(core): use assert for type narrowing instead of if check
  audiometa/_audio_file.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(core): use attr-defined type ignore instead of assert for MP3 info
  audiometa/_audio_file.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(core): add type ignore to all MP3 info attribute accesses
  audiometa/_audio_file.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(core): add type ignore to channels attribute access
  audiometa/_audio_file.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(manager): add type ignore for tags assignment in ID3v1 manager
  audiometa/manager/id3v1/_Id3v1Manager.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(core): fix unreachable statement errors in multiple files
  .cursor/rules/ruff-ignored-rules.mdc
  audiometa/__init__.py
  audiometa/manager/_rating_supporting/_RatingSupportingMetadataManager.py
  audiometa/manager/_rating_supporting/riff/_RiffManager.py
  audiometa/manager/id3v1/_Id3v1Manager.py
  audiometa/test/tests/integration/writing/writing_strategies/test_sync_strategy.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(manager): fix remaining unreachable statement and remove unused ignore
  audiometa/manager/_rating_supporting/_RatingSupportingMetadataManager.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(manager): fix unreachable statement in get_raw_metadata_info
  audiometa/manager/id3v1/_Id3v1Manager.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(manager): fix indentation error in get_raw_metadata_info
  audiometa/manager/id3v1/_Id3v1Manager.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(core): fix return type override, import errors, and assignment errors
  audiometa/__init__.py
  audiometa/manager/_rating_supporting/riff/_RiffManager.py
  audiometa/manager/id3v1/_Id3v1Manager.py
  audiometa/manager/id3v1/id3v1_raw_metadata.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(core): add type ignores for unreachable statement warnings
  audiometa/__init__.py
  audiometa/manager/_rating_supporting/riff/_RiffManager.py
  audiometa/manager/id3v1/_Id3v1Manager.py
  audiometa/manager/id3v1/id3v1_raw_metadata.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments
