Repository BehindTheMusicTree/audiometa: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-shell-trailing-blank-lines, no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments, py-psscriptanalyzer, py-psscriptanalyzer-format

fix-shell-trailing-blank-lines:
  name: Fix trailing blank lines in shell scripts
  entry: bash -c '.pre-commit-hooks/fix-shell-trailing-blank-lines.sh "$@"' --
  language: system

no-assert:
  name: Check for assert statements in production code
  entry: bash -c '.pre-commit-hooks/no-assert.sh "$@"' --
  language: system

ruff-format:
  name: ruff-format
  entry: bash -c '.pre-commit-hooks/tool-wrapper.sh ruff format --line-length=120 "$@"' --
  language: system

ruff:
  name: ruff
  entry: bash -c '.pre-commit-hooks/tool-wrapper.sh ruff check --fix --line-length=120 "$@"' --
  language: system

isort:
  name: isort
  entry: bash -c '.pre-commit-hooks/tool-wrapper.sh isort --profile black --line-length=120 "$@"' --
  language: system

mypy:
  name: mypy
  entry: bash -c '.pre-commit-hooks/tool-wrapper.sh mypy --follow-imports=normal "$@"' --
  language: system
  pass_filenames: true

docformatter:
  name: docformatter
  entry: bash -c '.pre-commit-hooks/tool-wrapper.sh docformatter --in-place --wrap-summaries=120 --wrap-descriptions=120 "$@"' --
  language: system
  pass_filenames: true

fix-long-comments:
  name: Fix long comment lines
  entry: bash -c '.pre-commit-hooks/fix-long-comments.py "$@"' --
  language: system

py-psscriptanalyzer:
  name: PowerShell ScriptAnalyzer
  entry: bash -c '.pre-commit-hooks/psscriptanalyzer-wrapper.sh "$@"' --
  language: system
  pass_filenames: true

py-psscriptanalyzer-format:
  name: PowerShell ScriptAnalyzer Format
  entry: bash -c '.pre-commit-hooks/psscriptanalyzer-format-wrapper.sh "$@"' --
  language: system
  pass_filenames: true

chore: prepare release 0.6.1
  .bumpversion.cfg
  pyproject.toml
Due: none

docs: document MD5 validation handling for FLAC files with ID3 metadata
  CHANGELOG.md
  audiometa/test/tests/integration/technical_info/flac_md5/test_flac_with_id3_tags.py
  docs/AUDIO_TECHNICAL_INFO_GUIDE.md
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

docs: update changelog for v0.7.0
  CHANGELOG.md
Due: none

chore: prepare release 0.7.0
  .bumpversion.cfg
  pyproject.toml
Due: none

Fix FLAC MD5 validation test: convert FlacMd5State enum to bool in get_full_metadata
  audiometa/__init__.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

docs: update changelog for v0.7.1 release
  CHANGELOG.md
Due: none

chore: prepare release 0.7.1
  .bumpversion.cfg
  pyproject.toml
Due: none

docs: add ToC to rating handling and cross-reference genre guide
  docs/METADATA_FIELD_GUIDE.md
  docs/RATING_HANDLING.md
Due: none

docs: add ToC to genre handling guide
  docs/GENRE_HANDLING.md
Due: none

docs: add changelog entry for ToCs and cross-refs
  CHANGELOG.md
Due: none

docs: update changelog formatting
  CHANGELOG.md
Due: none

docs: align TOC with content and clarify ID3v1 handling in MD5 repair
  docs/AUDIO_TECHNICAL_INFO_GUIDE.md
Due: none

refactor: complete separation of MD5 validation and repair tests
  audiometa/test/tests/integration/technical_info/flac_md5/md5_checking/__init__.py
  audiometa/test/tests/integration/technical_info/flac_md5/md5_checking/test_audio_data_corruption.py
  audiometa/test/tests/integration/technical_info/flac_md5/md5_checking/test_file.py
  audiometa/test/tests/integration/technical_info/flac_md5/md5_checking/test_invalid_md5.py
  audiometa/test/tests/integration/technical_info/flac_md5/md5_checking/test_metadata_combinations/__init__.py
  audiometa/test/tests/integration/technical_info/flac_md5/md5_checking/test_metadata_combinations/test_md5_invalid_with_metadata_combinations.py
  audiometa/test/tests/integration/technical_info/flac_md5/md5_checking/test_metadata_combinations/test_md5_state_precedence.py
  audiometa/test/tests/integration/technical_info/flac_md5/md5_checking/test_metadata_combinations/test_md5_unset_with_metadata_combinations.py
  audiometa/test/tests/integration/technical_info/flac_md5/md5_checking/test_metadata_combinations/test_md5_validation_fails_with_id3v1.py
  audiometa/test/tests/integration/technical_info/flac_md5/md5_checking/test_metadata_combinations/test_md5_validation_with_id3v2_only.py
  audiometa/test/tests/integration/technical_info/flac_md5/md5_checking/test_metadata_combinations/test_md5_validation_works_without_id3v1.py
  audiometa/test/tests/integration/technical_info/flac_md5/md5_checking/test_metadata_combinations/test_md5_with_metadata_combinations.py
  audiometa/test/tests/integration/technical_info/flac_md5/md5_checking/test_unset_md5.py
  audiometa/test/tests/integration/technical_info/flac_md5/md5_repair/__init__.py
  audiometa/test/tests/integration/technical_info/flac_md5/md5_repair/test_invalid_md5/__init__.py
  audiometa/test/tests/integration/technical_info/flac_md5/md5_repair/test_invalid_md5/test_flipped_md5.py
  audiometa/test/tests/integration/technical_info/flac_md5/md5_repair/test_invalid_md5/test_non_flac_error.py
  audiometa/test/tests/integration/technical_info/flac_md5/md5_repair/test_invalid_md5/test_partial_md5.py
  audiometa/test/tests/integration/technical_info/flac_md5/md5_repair/test_invalid_md5/test_random_md5.py
  audiometa/test/tests/integration/technical_info/flac_md5/md5_repair/test_md5_repair_with_metadata.py
  audiometa/test/tests/integration/technical_info/flac_md5/md5_repair/test_unset_md5.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

feat: improve FLAC MD5 repair with user warnings and test reorganization
  CHANGELOG.md
  audiometa/_audio_file.py
  audiometa/test/tests/integration/technical_info/flac_md5/md5_repair/test_delete_original.py
  audiometa/test/tests/integration/technical_info/flac_md5/md5_repair/test_md5_repair_with_metadata.py
  audiometa/test/tests/integration/technical_info/flac_md5/md5_repair/test_non_flac_error.py
  docs/AUDIO_TECHNICAL_INFO_GUIDE.md
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

test: add explicit test for warn_on_unsupported_field=True
  CHANGELOG.md
  audiometa/__init__.py
  audiometa/test/tests/integration/writing/writing_strategies/unsupported_fields/test_fail_behavior.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

feat: implement automatic precedence for fail_on_unsupported_field
  audiometa/__init__.py
  audiometa/test/tests/integration/writing/writing_strategies/unsupported_fields/test_fail_behavior.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

docs: prepare changelog for v0.8.0 release
  CHANGELOG.md
Due: none

chore: prepare release 0.8.0
  .bumpversion.cfg
  pyproject.toml
Due: none

docs: update repository references for organization move to BehindTheMusicTree
  .github/SECURITY.md
  .github/auto-assign-config.yml
  README.md
Due: none

docs: update repository organization references in changelog
  CHANGELOG.md
Due: none

docs: update repository organization references in changelog
  CHANGELOG.md
  audiometa/__init__.py
  audiometa/test/tests/e2e/workflows/test_format_specific_workflows.py
  audiometa/test/tests/integration/writing/writing_strategies/sync_strategy/__init__.py
  audiometa/test/tests/integration/writing/writing_strategies/sync_strategy/test_flac_sync.py
  audiometa/test/tests/integration/writing/writing_strategies/sync_strategy/test_mp3_sync.py
  audiometa/test/tests/integration/writing/writing_strategies/sync_strategy/test_wav_sync.py
  audiometa/test/tests/integration/writing/writing_strategies/test_sync_strategy.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix: correct SYNC strategy to prevent MD5 corruption and add comprehensive testing
  audiometa/test/tests/integration/audio_format/wav/test_wav_with_id3v2_tags.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

docs: prepare changelog for 0.8.1
  CHANGELOG.md
Due: none

chore: prepare release 0.8.1
  .bumpversion.cfg
  pyproject.toml
Due: none

fix(ci): fall back to building from source when ffmpeg's --force-bottle install fails
  scripts/install-system-dependencies-macos.sh
Due: fix-shell-trailing-blank-lines

fix(ci): pass --build-from-source on ffmpeg install fallback, not just drop --force-bottle
  scripts/install-system-dependencies-macos.sh
Due: fix-shell-trailing-blank-lines

fix(ci): explicitly build tesseract from source before retrying ffmpeg install
  scripts/install-system-dependencies-macos.sh
Due: fix-shell-trailing-blank-lines

fix(ci): bump pinned macOS mediainfo version to 26.05
  system-dependencies-test-only.toml
Due: none

fix(ci): bump pinned macOS bwfmetaedit version to 26.08.1
  system-dependencies-test-only.toml
Due: none

chore: prepare release 1.4.4
  CHANGELOG.md
  pyproject.toml
Due: none

chore: migrate .cursor/rules to .claude/rules, wire up graphify
  .claude/rules/changelog-alignment.md
  .claude/rules/changelog.md
  .claude/rules/code-style.md
  .claude/rules/commit-messages.md
  .claude/rules/demo-tape-authoring.md
  .claude/rules/demo-videos.md
  .claude/rules/dependency-pinning.md
  .claude/rules/file-organization.md
  .claude/rules/git-workflow.md
  .claude/rules/github-bug-reports.md
  .claude/rules/github-feature-requests.md
  .claude/rules/markdown-formatting.md
  .claude/rules/mastodon-posts.md
  .claude/rules/pr-descriptions.md
  .claude/rules/pr-naming.md
  .claude/rules/pre-commit.md
  .claude/rules/python-style.md
  .claude/rules/ruff-ignored-rules.md
  .claude/rules/ruff-style-best-practices.md
  .claude/rules/testing-parametrize.md
  .claude/rules/testing.md
  .claude/rules/virtual-environment.md
  .claude/settings.json
  .gitattributes
  .gitignore
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  scripts/verify_changelog.py
Due: ruff-format, ruff, isort

chore: adopt python-project-standards v5 via copier
  .claude/rules/changelog-alignment.md
  .copier-answers.yml
  .github/workflows/lint-and-test.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  STANDARDS_VERSION
  baselines/DIGESTS
  baselines/expected-mypy.json
  baselines/ruff.toml
  docs/COMMITTING.md
  docs/TESTING.md
  pyproject.toml
  scripts/check_lint_baseline.py
  scripts/verify-standards.sh
Due: fix-shell-trailing-blank-lines, ruff-format, ruff, isort

Path conditions:
  fix-shell-trailing-blank-lines: any of: \.(sh|bash)$
  no-assert: any of: ^audiometa/.*\.py$, but not: ^(audiometa/test/|scripts/)
  ruff-format: any of: ^(audiometa/|\.pre-commit-hooks/|scripts/).*\.py$
  ruff: any of: ^(audiometa/|\.pre-commit-hooks/|scripts/).*\.py$
  isort: any of: ^(audiometa/|\.pre-commit-hooks/|scripts/).*\.py$
  mypy: any of: ^audiometa/.*\.py$, but not: ^(audiometa/test/|scripts/)
  docformatter: any of: ^audiometa/.*\.py$
  fix-long-comments: any of: ^audiometa/.*\.py$, but not: ^scripts/
  py-psscriptanalyzer: any of: \.ps1$
  py-psscriptanalyzer-format: any of: \.ps1$
