Repository BehindTheMusicTree/audiometa: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# To install: pre-commit install
# To run manually: pre-commit run --all-files
# To run on staged files only: pre-commit run
#
# Pre-commit hooks execution order - order matters!
# 1. pre-commit-hooks: Basic checks (yaml, json, toml, large files, merge conflicts, debug statements, trailing whitespace)
# 2. no-assert: Check for assert statements in production code
# 3. ruff-format: Format code (replaces black, handles EOF newlines automatically)
# 4. ruff: Auto-fix linting issues (including unused imports/variables, code style, line length)
# 5. isort: Sort imports (configured to work with ruff-format/black)
# 6. mypy: Type checking on formatted code
# 7. docformatter: Format docstrings (after code formatting)
# 8. fix-long-comments: Fix long comment lines (custom hook)
# 9. prettier: Format markdown files (preserves list numbering without zero-padding)

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=10000"]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: no-assert
        name: Check for assert statements in production code
        entry: bash -c '.pre-commit-hooks/no-assert.sh "$@"' --
        language: system
        files: ^audiometa/.*\.py$
        exclude: ^(audiometa/test/|scripts/)

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        entry: ruff format --line-length=120
        language: system
        files: ^audiometa/.*\.py$
      - id: ruff
        name: ruff
        entry: ruff check --fix --line-length=120
        language: system
        files: ^audiometa/.*\.py$
      - id: isort
        name: isort
        entry: isort --profile black --line-length=120
        language: system
        files: ^audiometa/.*\.py$
      - id: mypy
        name: mypy
        # Note: pytest type stubs are not available as a separate package (types-pytest doesn't exist)
        # Mypy will report "Cannot find implementation or library stub for module named 'pytest'"
        # This is expected and acceptable - real import errors are still caught by test execution
        # The mypy overrides in pyproject.toml relax type checking rules for test files
        entry: mypy --follow-imports=normal
        language: system
        files: ^audiometa/.*\.py$
        exclude: ^(audiometa/test/|scripts/)
        pass_filenames: true
      - id: docformatter
        name: docformatter
        entry: docformatter
        language: python
        additional_dependencies: ["docformatter[tomli]"]
        args: ["--in-place", "--wrap-summaries=120", "--wrap-descriptions=120"]
        files: ^audiometa/
        pass_filenames: true
      - id: fix-long-comments
        name: Fix long comment lines
        entry: bash -c '.pre-commit-hooks/fix-long-comments.py "$@"' --
        language: system
        files: ^audiometa/.*\.py$
        exclude: ^scripts/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [markdown]
        additional_dependencies:
          - prettier@^3.0.0

fix(core): add type ignores for override incompatibilities and fix CLI type annotations
  audiometa/cli.py
  audiometa/manager/_rating_supporting/id3v2/_Id3v2Manager.py
  audiometa/manager/_rating_supporting/riff/_RiffManager.py
  audiometa/manager/_rating_supporting/vorbis/_VorbisManager.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(core): fix remaining unreachable statement warnings and union-attr error
  audiometa/__init__.py
  audiometa/test/helpers/vorbis/vorbis_metadata_getter.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(core): fix unreachable statement type ignores and variable redefinition
  audiometa/__init__.py
  audiometa/cli.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(core): fix unreachable statement warnings with misc ignore
  audiometa/__init__.py
  audiometa/cli.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(core): use generic type ignore for unreachable statements
  audiometa/__init__.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(core): disable unreachable warnings for runtime validation checks in __init__.py
  audiometa/__init__.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(core): add mypy override to disable unreachable warnings in __init__.py
  pyproject.toml
Due: none

refactor(core): restore runtime validation checks with type ignore and documentation
  audiometa/__init__.py
  pyproject.toml
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor(core): move type ignore to raise statement line
  audiometa/__init__.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor(core): add mypy override for runtime validation checks in __init__.py
  audiometa/__init__.py
  pyproject.toml
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

test(core): enhance string key validation test with multiple enum values
  README.md
  audiometa/__init__.py
  audiometa/test/tests/integration/metadata_field/test_metadata_field_validation.py
  pyproject.toml
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor(core): update comments and add type ignore for runtime validation checks in __init__.py
  audiometa/__init__.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor(core): enhance unified metadata key validation by introducing a dedicated normalization function
  audiometa/__init__.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(rating): convert enum member values from lists to tuples
  audiometa/utils/rating_profiles.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(test): update isinstance call and improve comment formatting
  audiometa/test/tests/integration/metadata_field/test_metadata_field_validation.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

fix(test): correct album title formatting in Celinekin Park metadata test
  audiometa/test/tests/integration/real_audio_files/test_reading.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

refactor(test): remove redundant test for invalid enum value in metadata field validation
  audiometa/test/tests/integration/metadata_field/test_metadata_field_validation.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

refactor(core): make update_metadata accept flexible dict types
  audiometa/__init__.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(metadata): improve validation for UnifiedMetadataKey to match enum member values
  audiometa/__init__.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor(test): update rating tests to use direct star rating values and adjust max value for consistency
  audiometa/test/tests/integration/metadata_field/rating/writing/metadata_format/test_id3v2.py
  audiometa/test/tests/integration/metadata_field/rating/writing/metadata_format/test_riff.py
  audiometa/test/tests/integration/metadata_field/rating/writing/metadata_format/test_vorbis.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

fix(cli): output error message when file type is not supported
  audiometa/cli.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

docs(style): add guidelines against using print statements in production code
  .cursor/rules/code-style.mdc
Due: none

fix(cli): enhance error handling for file operations and improve output messages
  audiometa/cli.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

refactor(cli): rename functions to private for better encapsulation
  audiometa/cli.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(cli): add warning for missing PyYAML dependency in format_output function
  audiometa/cli.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

test(cli): add tests for format_output function with and without PyYAML
  audiometa/test/tests/e2e/cli/error_handling/test_format_output_errors.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

docs(todo): update TODO list with check for Python 3.14 upgrade
  TODO.md
Due: none

test: add guidelines for using pytest.mark.parametrize in test cases
  .cursor/rules/testing-parametrize.mdc
Due: none

refactor: Enhance metadata validation and error handling
  .cursor/rules/testing-parametrize.mdc
  README.md
  audiometa/__init__.py
  audiometa/cli.py
  audiometa/manager/_MetadataManager.py
  audiometa/manager/_rating_supporting/_RatingSupportingMetadataManager.py
  audiometa/test/tests/unit/metadata_managers/metadata_field/rating/test_rating_validation.py
  audiometa/test/tests/unit/metadata_managers/metadata_field/rating/writing/test_validation.py
  audiometa/test/tests/unit/metadata_managers/metadata_field/test_date_format_validation.py
  audiometa/test/tests/unit/metadata_managers/metadata_field/test_track_number_validation.py
  audiometa/test/tests/unit/metadata_managers/metadata_field/test_type_validation.py
  audiometa/test/tests/unit/metadata_managers/metadata_field/test_validation.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(test): change expected_values from list to tuple for consistency
  audiometa/test/tests/unit/metadata_managers/metadata_field/rating/reading/test_profiles_values.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

fix(cli): enhance file pattern matching to include bracket patterns and skip hidden files
  audiometa/cli.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

test: improve error handling for unsupported file types in get_full_metadata
  audiometa/test/tests/integration/get_full_metadata/test_get_full_metadata.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

docs: update README to clarify file_path parameter types
  README.md
Due: none

feat(metadata): implement _get_formatted_metadata_format_name method for better error messaging
  audiometa/manager/_MetadataManager.py
  audiometa/manager/_rating_supporting/_RatingSupportingMetadataManager.py
  audiometa/manager/_rating_supporting/id3v2/_Id3v2Manager.py
  audiometa/manager/_rating_supporting/vorbis/_VorbisManager.py
  audiometa/manager/id3v1/_Id3v1Manager.py
  audiometa/test/tests/integration/metadata_field/album_artists/test_writing.py
  audiometa/test/tests/integration/metadata_field/bpm/test_writing.py
  audiometa/test/tests/integration/metadata_field/composer/test_deleting.py
  audiometa/test/tests/integration/metadata_field/copyright/test_deleting.py
  audiometa/test/tests/integration/metadata_field/copyright/test_reading.py
  audiometa/test/tests/integration/metadata_field/field_not_supported/test_deleting.py
  audiometa/test/tests/integration/metadata_field/lyrics/test_deleting.py
  audiometa/test/tests/integration/metadata_field/lyrics/test_reading.py
  audiometa/test/tests/integration/metadata_field/publisher/test_deleting.py
  audiometa/test/tests/integration/metadata_field/test_metadata_field_validation.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(manager): update _get_formatted_metadata_format_name to remove leading underscore from class name
  audiometa/manager/_rating_supporting/_RatingSupportingMetadataManager.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

feat(rating): add half-star rating support
  README.md
  audiometa/__init__.py
  audiometa/cli.py
  audiometa/manager/_MetadataManager.py
  audiometa/manager/_rating_supporting/_RatingSupportingMetadataManager.py
  audiometa/manager/_rating_supporting/riff/_RiffManager.py
  audiometa/manager/_rating_supporting/vorbis/_VorbisManager.py
  audiometa/test/tests/e2e/cli/test_cli_write.py
  audiometa/test/tests/integration/metadata_field/rating/test_error_handling.py
  audiometa/test/tests/integration/metadata_field/rating/writing/test_comprehensive.py
  audiometa/test/tests/unit/metadata_managers/metadata_field/rating/test_rating_validation.py
  audiometa/test/tests/unit/metadata_managers/metadata_field/rating/writing/test_validation.py
  audiometa/utils/unified_metadata_key.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

feat(metadata): add validation for release date and track number formats in update_metadata
  audiometa/__init__.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

test(cli): update rating value in test_cli_rating_value_allowed_without_normalization to valid ID3v2 profile value
  audiometa/test/tests/e2e/cli/error_handling/test_input_validation_errors.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

feat(rating): enhance rating validation to accept whole-number floats and update documentation
  README.md
  audiometa/__init__.py
  audiometa/cli.py
  audiometa/manager/_rating_supporting/_RatingSupportingMetadataManager.py
  audiometa/test/tests/e2e/cli/error_handling/test_input_validation_errors.py
  audiometa/test/tests/unit/metadata_managers/metadata_field/rating/test_rating_validation.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

feat(cli): enhance metadata update and deletion feedback in CLI
  audiometa/cli.py
  audiometa/test/tests/e2e/cli/error_handling/test_missing_fields_validation.py
  audiometa/test/tests/e2e/cli/error_handling/test_rating_validation.py
  audiometa/test/tests/e2e/cli/error_handling/test_year_validation.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments
