Repository BehindTheMusicTree/audiometa: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# To install: pre-commit install
# To run manually: pre-commit run --all-files
# To run on staged files only: pre-commit run
#
# Pre-commit hooks execution order - order matters!
# 1. pre-commit-hooks: Basic checks (yaml, json, toml, large files, merge conflicts, debug statements, trailing whitespace)
# 2. no-assert: Check for assert statements in production code
# 3. ruff-format: Format code (replaces black, handles EOF newlines automatically)
# 4. ruff: Auto-fix linting issues (including unused imports/variables, code style, line length)
# 5. isort: Sort imports (configured to work with ruff-format/black)
# 6. mypy: Type checking on formatted code
# 7. docformatter: Format docstrings (after code formatting)
# 8. fix-long-comments: Fix long comment lines (custom hook)
# 9. prettier: Format markdown files (preserves list numbering without zero-padding)

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=10000"]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: no-assert
        name: Check for assert statements in production code
        entry: bash -c '.pre-commit-hooks/no-assert.sh "$@"' --
        language: system
        files: ^audiometa/.*\.py$
        exclude: ^(audiometa/test/|scripts/)

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        entry: ruff format --line-length=120
        language: system
        files: ^audiometa/.*\.py$
      - id: ruff
        name: ruff
        entry: ruff check --fix --line-length=120
        language: system
        files: ^audiometa/.*\.py$
      - id: isort
        name: isort
        entry: isort --profile black --line-length=120
        language: system
        files: ^audiometa/.*\.py$
      - id: mypy
        name: mypy
        # Note: pytest type stubs are not available as a separate package (types-pytest doesn't exist)
        # Mypy will report "Cannot find implementation or library stub for module named 'pytest'"
        # This is expected and acceptable - real import errors are still caught by test execution
        # The mypy overrides in pyproject.toml relax type checking rules for test files
        entry: mypy --follow-imports=normal
        language: system
        files: ^audiometa/.*\.py$
        exclude: ^(audiometa/test/|scripts/)
        pass_filenames: true
      - id: docformatter
        name: docformatter
        entry: docformatter
        language: python
        additional_dependencies: ["docformatter[tomli]"]
        args: ["--in-place", "--wrap-summaries=120", "--wrap-descriptions=120"]
        files: ^audiometa/
        pass_filenames: true
      - id: fix-long-comments
        name: Fix long comment lines
        entry: bash -c '.pre-commit-hooks/fix-long-comments.py "$@"' --
        language: system
        files: ^audiometa/.*\.py$
        exclude: ^scripts/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [markdown]
        additional_dependencies:
          - prettier@^3.0.0

test(cli): update assertion in CLI delete test for accurate feedback on metadata deletion
  audiometa/test/tests/e2e/cli/test_cli_delete.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

test(cli): add end-to-end tests for input validation errors in CLI
  audiometa/test/tests/e2e/cli/error_handling/test_input_validation_errors.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

test(cli): improve assertions for stdout success messages in multiple files error handling tests
  audiometa/test/tests/e2e/cli/error_handling/test_multiple_files_errors.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

test(cli): rename and update tests for invalid fractional float ratings to assert error handling
  audiometa/test/tests/e2e/cli/test_cli_write.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

fix(cli): handle InvalidRatingValueError in metadata validation
  audiometa/cli.py
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

docs: Move comprehensive documentation for genre, multiple values, and rating handling from README to dedicated documents
  README.md
  docs/GENRE_HANDLING.md
  docs/MULTIPLE_VALUES.md
  docs/RATING_HANDLING.md
Due: none

docs: Move detailed track number handling documentation for various metadata standards into dedicated doc
  README.md
  docs/TRACK_NUMBER.md
Due: none

docs: Move detailed lyrics support documentation for synchronized and unsynchronized lyrics across formats to dedicated doc
  README.md
  docs/LYRICS_SUPPORT.md
Due: none

test(e2e): update invalid rating test to reflect correct error message for out of range values
  audiometa/test/tests/e2e/workflows/test_error_handling_workflows.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

test: parameterize float rating values in raw mode test to improve coverage
  audiometa/test/tests/integration/metadata_field/rating/writing/test_comprehensive.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

test: enhance rating tests to ensure type consistency and add whole number float handling in raw mode
  audiometa/test/tests/integration/metadata_field/rating/writing/test_comprehensive.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

chore: remove flake8 configuration and update CI workflow to use ruff for linting
  .flake8
  .github/workflows/ci.yml
  CHANGELOG.md
  pyproject.toml
Due: none

chore: pin optional dependencies to specific versions for consistency
  pyproject.toml
Due: none

chore: update soundfile and numpy versions in dev dependencies for compatibility
  pyproject.toml
Due: none

chore(ci): add bwfmetaedit to system dependencies for all platforms
  .github/workflows/ci.yml
Due: none

chore: add logo asset
  assets/logo.png
Due: none

chore: update numpy version in dev dependencies for compatibility
  pyproject.toml
Due: none

docs: add logo to README
  README.md
Due: none

chore(ci): add installation steps for BWF MetaEdit on Windows
  .github/workflows/ci.yml
  scripts/install-bwfmetaedit-windows.ps1
Due: none

chore: enhance pre-commit and ci setup and validation for tool versions
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/check-tool-versions.sh
  CONTRIBUTING.md
  scripts/setup-precommit.sh
Due: none

chore(ci): add installation step for bwfmetaedit on Ubuntu
  .github/workflows/ci.yml
Due: none

docs: simplify README by removing level 3+ setions in table of content
  README.md
Due: none

chore(ci): add id3v2 installation to system dependencies for Ubuntu, macOS, and Windows
  .github/workflows/ci.yml
Due: none

docs: consolidate metadata field handling documentation into a single guide
  README.md
  docs/METADATA_FIELD_GUIDE.md
Due: none

refactor(deps): load system dependency versions dynamically from TOML
  .github/system-dependencies.toml
  .github/workflows/ci.yml
  CONTRIBUTING.md
  audiometa/test/tests/conftest.py
  scripts/ci/install-bwfmetaedit-ubuntu.sh
  scripts/ci/install-bwfmetaedit-windows.ps1
  scripts/ci/install-system-dependencies-macos.sh
  scripts/ci/install-system-dependencies-ubuntu.sh
  scripts/ci/install-system-dependencies-windows.ps1
  scripts/ci/load-system-dependency-versions.py
  scripts/setup-system-dependencies.sh
  scripts/update-pinned-versions.sh
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

docs: add system dependency version verification details to contributing guidelines
  CONTRIBUTING.md
Due: none

fix(test): update pytest_configure function signature to accept config parameter
  audiometa/test/tests/conftest.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

refactor(deps): move system-dependencies.toml to project root
  CONTRIBUTING.md
  README.md
  audiometa/test/tests/conftest.py
  scripts/ci/install-bwfmetaedit-ubuntu.sh
  scripts/ci/install-bwfmetaedit-windows.ps1
  scripts/ci/install-system-dependencies-macos.sh
  scripts/ci/install-system-dependencies-ubuntu.sh
  scripts/ci/install-system-dependencies-windows.ps1
  scripts/ci/load-system-dependency-versions.py
  scripts/setup-system-dependencies.sh
  scripts/update-pinned-versions.sh
  system-dependencies.toml
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

refactor(deps): load bwfmetaedit version from system-dependencies.toml
  .github/workflows/ci.yml
  CONTRIBUTING.md
  README.md
  audiometa/test/tests/conftest.py
  scripts/ci/install-bwfmetaedit-ubuntu.sh
  scripts/ci/install-bwfmetaedit-windows.ps1
  scripts/install-bwfmetaedit-windows.ps1
  scripts/install-system-dependencies-macos.sh
  scripts/install-system-dependencies-ubuntu.sh
  scripts/install-system-dependencies-windows.ps1
  scripts/setup-system-dependencies.sh
  scripts/update-pinned-versions.sh
  system-dependencies.toml
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

fix(test): handle ffprobe version check and Homebrew version format
  audiometa/test/tests/conftest.py
  system-dependencies.toml
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

docs: update Pre-Update Validation section to include API Reference in README
  README.md
Due: none

fix(ci): correct path to load-system-dependency-versions.py
  scripts/install-system-dependencies-macos.sh
  scripts/install-system-dependencies-ubuntu.sh
  scripts/install-system-dependencies-windows.ps1
Due: none

fix(ci): add error handling for version loading in macOS install script
  scripts/install-system-dependencies-macos.sh
Due: none

fix(ci): improve Ubuntu installation script error handling
  scripts/install-system-dependencies-ubuntu.sh
Due: none

fix(ci): update Homebrew installation scripts for macOS to handle version pinning correctly
  audiometa/test/tests/conftest.py
  scripts/install-system-dependencies-macos.sh
  scripts/setup-system-dependencies.sh
  system-dependencies.toml
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

fix(ci): remove outdated script for updating pinned versions
  scripts/update-pinned-versions.sh
Due: none

fix(ci): improve version checking in Ubuntu install script
  scripts/install-system-dependencies-ubuntu.sh
Due: none

fix(ci): fix PowerShell array handling in Windows install script
  scripts/install-system-dependencies-windows.ps1
Due: none

chore(ci): add PowerShell linting to pre-commit and CI
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  system-dependencies.toml
Due: none

docs: document PowerShell linting hooks in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none
