Repository BehindTheMusicTree/audiometa: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# To install: pre-commit install
# To run manually: pre-commit run --all-files
# To run on staged files only: pre-commit run
#
# Pre-commit hooks execution order - order matters!
# 1. pre-commit-hooks: Basic checks (yaml, json, toml, large files, merge conflicts, debug statements, trailing whitespace)
# 2. no-assert: Check for assert statements in production code
# 3. ruff-format: Format code (replaces black, handles EOF newlines automatically)
# 4. ruff: Auto-fix linting issues (including unused imports/variables, code style, line length)
# 5. isort: Sort imports (configured to work with ruff-format/black)
# 6. mypy: Type checking on formatted code
# 7. docformatter: Format docstrings (after code formatting)
# 8. fix-long-comments: Fix long comment lines (custom hook)
# 9. prettier: Format markdown files (preserves list numbering without zero-padding)

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=10000"]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: no-assert
        name: Check for assert statements in production code
        entry: bash -c '.pre-commit-hooks/no-assert.sh "$@"' --
        language: system
        files: ^audiometa/.*\.py$
        exclude: ^(audiometa/test/|scripts/)

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        entry: ruff format --line-length=120
        language: system
        files: ^audiometa/.*\.py$
      - id: ruff
        name: ruff
        entry: ruff check --fix --line-length=120
        language: system
        files: ^audiometa/.*\.py$
      - id: isort
        name: isort
        entry: isort --profile black --line-length=120
        language: system
        files: ^audiometa/.*\.py$
      - id: mypy
        name: mypy
        # Note: pytest type stubs are not available as a separate package (types-pytest doesn't exist)
        # Mypy will report "Cannot find implementation or library stub for module named 'pytest'"
        # This is expected and acceptable - real import errors are still caught by test execution
        # The mypy overrides in pyproject.toml relax type checking rules for test files
        entry: mypy --follow-imports=normal
        language: system
        files: ^audiometa/.*\.py$
        exclude: ^(audiometa/test/|scripts/)
        pass_filenames: true
      - id: docformatter
        name: docformatter
        entry: docformatter
        language: python
        additional_dependencies: ["docformatter[tomli]"]
        args: ["--in-place", "--wrap-summaries=120", "--wrap-descriptions=120"]
        files: ^audiometa/
        pass_filenames: true
      - id: fix-long-comments
        name: Fix long comment lines
        entry: bash -c '.pre-commit-hooks/fix-long-comments.py "$@"' --
        language: system
        files: ^audiometa/.*\.py$
        exclude: ^scripts/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [markdown]
        additional_dependencies:
          - prettier@^3.0.0

fix(macos): improve installation script for Homebrew packages
  scripts/install-system-dependencies-macos.sh
Due: none

fix(deps): downgrade exiftool version in system-dependencies.toml to 13.40 due to download availability issues
  system-dependencies.toml
Due: none

fix(tests): enhance Windows package version detection in pytest configuration
  audiometa/test/tests/conftest.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

refactor(ci): improve formatting and readability in load-system-dependency-versions.py
  scripts/ci/load-system-dependency-versions.py
Due: none

fix(deps): update exiftool version in system-dependencies.toml to 13.36 to match macOS version
  system-dependencies.toml
Due: none

fix(macos): add verification for libsndfile library accessibility in mac installation script
  scripts/install-system-dependencies-macos.sh
Due: none

fix(deps): downgrade exiftool version in system-dependencies.toml to 13.35 due to availability issues
  scripts/install-system-dependencies-windows.ps1
  system-dependencies.toml
Due: none

chore(test): add pre-commit hook to validate system dependencies and fix exiftool version checking
  .pre-commit-config.yaml
  .pre-commit-hooks/validate-system-dependencies.py
  audiometa/test/tests/conftest.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

docs: document validate-system-dependencies pre-commit hook
  CONTRIBUTING.md
Due: none

fix(deps): update mediainfo version in system-dependencies.toml to 25.10
  system-dependencies.toml
Due: none

fix(ci): align pre-commit hooks with CI linting checks
  .pre-commit-config.yaml
  scripts/ci/load-system-dependency-versions.py
Due: none

fix(deps): downgrade mediainfo version in system-dependencies.toml to 25.09
  system-dependencies.toml
Due: none

fix(ci): clear pip cache on macOS to prevent corrupted wheel issues with pytaglib
  .github/workflows/ci.yml
Due: none

fix(vorbis): move return statement to else block (TRY300)
  .pre-commit-config.yaml
  audiometa/manager/_rating_supporting/vorbis/_VorbisManager.py
  pyproject.toml
Due: no-assert, ruff-format, ruff, isort, mypy, docformatter, fix-long-comments

fix(macos): enhance libsndfile accessibility checks in installation script
  scripts/install-system-dependencies-macos.sh
Due: none

fix(macos): improve libsndfile diagnostics in installation script
  scripts/install-system-dependencies-macos.sh
Due: none

fix(ci): ensure consistent mediainfo version installation on macOS
  scripts/install-system-dependencies-macos.sh
  system-dependencies.toml
Due: none

fix(test): improve Windows CI dependency version detection
  audiometa/test/tests/conftest.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

fix(test): use Chocolatey as source of truth for Windows pinned versions
  audiometa/test/tests/conftest.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

fix(test): improve Windows Chocolatey version detection and error messages
  audiometa/test/tests/conftest.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

fix(test): strip 'v' prefix from Chocolatey version output
  audiometa/test/tests/conftest.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

fix(ci): clarify installation status when WSL tools are missing
  scripts/install-system-dependencies-windows.ps1
Due: none

fix(ci): fail CI step when required WSL dependencies are missing
  scripts/install-system-dependencies-windows.ps1
Due: none

fix(ci): attempt WSL installation in CI instead of skipping
  scripts/install-system-dependencies-windows.ps1
Due: none

fix(ci): improve WSL installation using DISM and better error handling
  scripts/install-system-dependencies-windows.ps1
Due: none

fix(ci): fail early if WSL installation fails
  scripts/install-system-dependencies-windows.ps1
Due: none

fix(ci): correctly detect Ubuntu in WSL list output
  scripts/install-system-dependencies-windows.ps1
Due: none

feat(ci): make Windows CI dependencies optional, only run e2e tests
  .github/workflows/ci.yml
  CONTRIBUTING.md
  audiometa/test/tests/conftest.py
  scripts/install-system-dependencies-windows.ps1
  system-dependencies.toml
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

fix(ci): fix PowerShell syntax error in exiftool installation block
  scripts/install-system-dependencies-windows.ps1
Due: none

fix(test): improve system dependency version verification error message
  audiometa/test/tests/conftest.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

fix(test): add fallback version detection for Windows tools
  audiometa/test/tests/conftest.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

fix(ci): enhance handling of WSL and optional tool installations in Windows CI
  scripts/install-system-dependencies-windows.ps1
Due: none

fix(test): improve Windows version detection with better fallbacks
  audiometa/test/tests/conftest.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

fix(test): improve bwfmetaedit version detection and clarify pytest exit behavior
  audiometa/test/tests/conftest.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

fix(test): simplify bwfmetaedit version detection to match PowerShell script
  audiometa/test/tests/conftest.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

fix(test): improve bwfmetaedit version detection and error messages
  audiometa/test/tests/conftest.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

fix(test): support two-part version detection for bwfmetaedit
  audiometa/test/tests/conftest.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

refactor(scripts): move shared scripts out of ci directory
  scripts/ci/install-ffmpeg-macos.sh
  scripts/install-bwfmetaedit-ubuntu.sh
  scripts/install-system-dependencies-macos.sh
  scripts/install-system-dependencies-ubuntu.sh
  scripts/install-system-dependencies-windows.ps1
  scripts/load-system-dependency-versions.py
  scripts/macos-common.sh
  scripts/setup-system-dependencies.sh
Due: none

test(cli): fix Windows permission error tests
  audiometa/test/tests/e2e/cli/error_handling/test_file_access_errors.py
Due: ruff-format, ruff, isort, docformatter, fix-long-comments

chore(scripts): add execute permissions to install-bwfmetaedit-ubuntu.sh
  scripts/install-bwfmetaedit-ubuntu.sh
Due: none
