Repository BehindTheMusicTree/audiometa: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-assert, docformatter, fix-long-comments

no-assert:
  name: Check for assert statements in production code
  entry: bash -c '.pre-commit-hooks/no-assert.sh "$@"' --
  language: system

docformatter:
  name: docformatter
  entry: docformatter
  language: python
  additional_dependencies:
  - docformatter[tomli]
  args:
  - --in-place
  - --wrap-summaries=120
  - --wrap-descriptions=120
  pass_filenames: true

fix-long-comments:
  name: Fix long comment lines
  entry: bash -c '.pre-commit-hooks/fix-long-comments.py "$@"' --
  language: system

chore(test): relax mypy type checking for test files
  audiometa/test/helpers/id3v1/id3v1_metadata_getter.py
  audiometa/test/helpers/temp_file_with_metadata.py
  pyproject.toml
Due: docformatter, fix-long-comments

style: improve formatting and type hinting in ID3v2 frame creator
  audiometa/test/helpers/id3v2/id3v2_frame_manual_creator.py
Due: docformatter, fix-long-comments

style: add type hints for metadata dictionary and TPE1 values in ID3v2MetadataGetter
  audiometa/test/helpers/id3v2/id3v2_metadata_getter.py
Due: docformatter, fix-long-comments

style: rename test_file_path to test_file for consistency in CLI tests
  audiometa/test/tests/e2e/cli/test_cli_delete.py
  audiometa/test/tests/e2e/cli/test_cli_read.py
  audiometa/test/tests/e2e/cli/test_cli_unified.py
  audiometa/test/tests/e2e/cli/test_cli_write.py
Due: docformatter, fix-long-comments

style: update import alias for consistency in mock audio file fixtures
  audiometa/test/tests/unit/metadata_managers/conftest.py
Due: docformatter, fix-long-comments

fix(test): correct import path for get_duration_in_sec in error handling tests
  audiometa/test/tests/unit/audio_file/technical_info/test_error_handling.py
Due: docformatter, fix-long-comments

refactor(test): remove redundant test for file size with audio file object
  audiometa/test/tests/unit/audio_file/technical_info/test_file_size.py
Due: docformatter, fix-long-comments

fix(test): correct patch import path for Id3v2Manager in header info tests
  audiometa/test/tests/unit/metadata_managers/header_info/test_id3v2.py
Due: docformatter, fix-long-comments

fix(metadata): update track number handling to return strings instead of integers
  README.md
  audiometa/__init__.py
  audiometa/manager/_MetadataManager.py
  audiometa/test/tests/integration/metadata_field/track_number/reading/test_edge_cases.py
  audiometa/test/tests/integration/metadata_field/track_number/reading/test_metadata_format.py
  audiometa/test/tests/integration/metadata_field/track_number/test_deleting.py
  audiometa/test/tests/integration/metadata_field/track_number/test_writing.py
  audiometa/test/tests/integration/real_audio_files/test_reading.py
  audiometa/test/tests/integration/real_audio_files/test_writing.py
Due: no-assert, docformatter, fix-long-comments

fix(test): ensure external tools are only run when metadata is added
  audiometa/test/helpers/id3v1/id3v1_metadata_setter.py
  audiometa/test/helpers/id3v2/id3v2_metadata_setter.py
  audiometa/test/helpers/riff/riff_metadata_setter.py
  audiometa/test/helpers/vorbis/vorbis_metadata_setter.py
Due: docformatter, fix-long-comments

refactor(api): update file type handling to accept only standard path types
  audiometa/__init__.py
Due: no-assert, docformatter, fix-long-comments

docs(test): update integration tests to handle string and Path inputs, removing dependency on _AudioFile
  audiometa/test/README.md
Due: docformatter

fix(test): update audio file context manager tests to use file path for metadata retrieval
  audiometa/test/tests/e2e/workflows/test_core_workflows.py
Due: docformatter, fix-long-comments

docs(pre-commit): update comments to clarify hook execution order and add trailing whitespace check
  .pre-commit-config.yaml
Due: none

docs(pre-commit): update pre-commit hook documentation to clarify code formatting checks
  .cursor/rules/pre-commit.mdc
Due: none

docs(contributing): update pre-commit hook list to add trailing whitespace removal and adjust hook order
  audiometa/CONTRIBUTING.md
Due: docformatter

fix(audio_file_creator): adjust ffmpeg command to conditionally include codec for non-WAV formats
  audiometa/test/helpers/common/audio_file_creator.py
Due: docformatter, fix-long-comments

fix(test): update metadata handling in audio format header deletion tests
  audiometa/test/tests/integration/delete_all_metadata/test_audio_format_header_deletion.py
Due: docformatter, fix-long-comments

fix(test): remove unused parameter from test_riff_metadata_writing_wav
  audiometa/test/tests/integration/audio_format/wav/test_wav_writing.py
Due: docformatter, fix-long-comments

test: verify pre-commit hooks
  audiometa/manager/_rating_supporting/_Id3v2Manager.py
Due: no-assert, docformatter, fix-long-comments

test: docformatter behavior
  test_docformatter.py
Due: none

test: fix-long-comments behavior
  test_long_comment.py
Due: none

docs: update CONTRIBUTING.md to clarify behavior of file-modifying pre-commit hooks
  audiometa/CONTRIBUTING.md
Due: docformatter

test: remove obsolete test files for docformatter and long comments
  test_docformatter.py
  test_long_comment.py
Due: none

chore: add a trailing newline to .prettierrc.json
  .prettierrc.json
Due: none

chore: add a trailing newline at the end of fix-long-comments.py
  .pre-commit-hooks/fix-long-comments.py
Due: none

test: update rating value in test_delete_rating_preserves_other_fields
  audiometa/test/tests/integration/metadata_field/rating/test_deleting.py
Due: docformatter, fix-long-comments

test: enhance error recovery workflow with detailed invalid rating handling
  audiometa/test/tests/e2e/workflows/test_error_handling_workflows.py
Due: docformatter, fix-long-comments

docs: update README to clarify reading and writing metadata with and without normalization
  README.md
Due: none

refactor: update rating validation to use profile-based checks instead of tenth ratio
  README.md
  audiometa/manager/_rating_supporting/_RatingSupportingMetadataManager.py
  audiometa/test/tests/e2e/workflows/test_error_handling_workflows.py
  audiometa/test/tests/integration/metadata_field/rating/test_error_handling.py
  audiometa/test/tests/unit/metadata_managers/metadata_field/rating/writing/test_validation.py
Due: no-assert, docformatter, fix-long-comments

test: update test rating value in test_cross_metadata_format_rating_consistency
  audiometa/test/tests/integration/metadata_field/rating/writing/test_comprehensive.py
Due: docformatter, fix-long-comments

test: allow empty string for release date in validation and error handling
  audiometa/__init__.py
  audiometa/test/tests/integration/metadata_field/release_date/test_deleting.py
  audiometa/test/tests/integration/metadata_field/release_date/test_error_handling.py
  audiometa/test/tests/unit/metadata_managers/metadata_field/test_date_format_validation.py
Due: no-assert, docformatter, fix-long-comments

test: add handling for empty string in track number deletion
  audiometa/test/tests/integration/metadata_field/track_number/test_deleting.py
Due: docformatter, fix-long-comments

test: update deletion tests to handle empty strings for various metadata fields
  audiometa/test/tests/integration/metadata_field/album/test_deleting.py
  audiometa/test/tests/integration/metadata_field/album_artists/test_deleting.py
  audiometa/test/tests/integration/metadata_field/artists/test_deleting.py
  audiometa/test/tests/integration/metadata_field/bpm/test_deleting.py
  audiometa/test/tests/integration/metadata_field/comment/test_deleting.py
  audiometa/test/tests/integration/metadata_field/composer/test_deleting.py
  audiometa/test/tests/integration/metadata_field/copyright/test_deleting.py
  audiometa/test/tests/integration/metadata_field/genre/test_deleting.py
  audiometa/test/tests/integration/metadata_field/language/test_deleting.py
  audiometa/test/tests/integration/metadata_field/lyrics/test_deleting.py
  audiometa/test/tests/integration/metadata_field/publisher/test_deleting.py
  audiometa/test/tests/integration/metadata_field/rating/test_deleting.py
  audiometa/test/tests/integration/metadata_field/release_date/test_deleting.py
  audiometa/test/tests/integration/metadata_field/title/test_deleting.py
  audiometa/test/tests/integration/metadata_field/track_number/test_deleting.py
Due: docformatter, fix-long-comments

feat: add method to merge case variants of metadata keys in VorbisManager
  audiometa/manager/_MetadataManager.py
  audiometa/manager/_rating_supporting/_VorbisManager.py
Due: no-assert, docformatter, fix-long-comments

refactor(types): rename AppMetadataValue to UnifiedMetadataValue
  audiometa/__init__.py
  audiometa/manager/_MetadataManager.py
  audiometa/manager/_rating_supporting/_Id3v2Manager.py
  audiometa/manager/_rating_supporting/_RatingSupportingMetadataManager.py
  audiometa/manager/_rating_supporting/_RiffManager.py
  audiometa/manager/_rating_supporting/_VorbisManager.py
  audiometa/manager/id3v1/_Id3v1Manager.py
  audiometa/utils/types.py
Due: no-assert, docformatter, fix-long-comments

docs: preserve leading zeros in track number handling
  README.md
Due: none

test: add case to verify preservation of leading zeros in track number
  audiometa/test/tests/integration/metadata_field/track_number/reading/test_edge_cases.py
Due: docformatter, fix-long-comments

test: update track number assertions to reflect new format
  audiometa/test/tests/integration/real_audio_files/test_reading.py
Due: docformatter, fix-long-comments

Path conditions:
  no-assert: any of: ^audiometa/.*\.py$, but not: ^(audiometa/test/|scripts/)
  docformatter: any of: ^audiometa/
  fix-long-comments: any of: ^audiometa/.*\.py$, but not: ^scripts/
